/*--------------------------------------------------------------
# Reset and Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  text-decoration: none;
  color: #000; }

a:focus, a:hover, a:active {
  outline: none;
  text-decoration: none;
  color: black; }

/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/
nav ul,
nav ol,
ul,
li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/*--------------------------------------------------------------
## Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: 'Open Sans Regular';
  src: url("../../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Playfair Display Regular';
  src: url("../../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Lato Regular';
  src: url("../../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Sacramento Regular';
  src: url("../../fonts/Sacramento-Regular.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../fonts/Montserrat-Regular.woff2") format("woff2"), url("../../fonts/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../fonts/Montserrat-Bold.woff2") format("woff2"), url("../../fonts/Montserrat-Bold.woff") format("woff"), url("../../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Kaushan Script';
  src: url("../../fonts/KaushanScript-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MyriadPro';
  src: url("../../fonts/MyriadPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

/*--------------------------------------------------------------
# Helpers
--------------------------------------------------------------*/
.loader {
  font-size: 30px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 28px auto;
  position: relative;
  transform: translateZ(0);
  animation: load6 1.7s infinite ease; }

.cover-img {
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1001);
  transition: 350ms ease; }

input::-ms-clear {
  display: none; }

/* Internet Explorer ruls */
@-webkit-keyframes load6 {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@keyframes load6 {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
.page-title {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.5px;
  font-family: "Sacramento", cursive;
  line-height: 68px;
  margin-bottom: 25px; }
  .page-title span {
    color: #b89b5e; }

.section-title {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: .4px;
  position: relative;
  text-transform: uppercase; }
  @media screen and (max-width: 992px) {
    .section-title {
      font-size: 32px; } }
  @media screen and (max-width: lg) {
    .section-title {
      font-size: 32px; } }
  @media screen and (max-width: 576px) {
    .section-title {
      font-size: 27px; } }
  @media screen and (max-width: sm) {
    .section-title {
      font-size: 27px; } }
  .section-title::after {
    content: '';
    position: absolute;
    height: 30px;
    width: 2px;
    background-color: #b89b5e;
    left: 50%;
    transform: translateX(-50%);
    top: 65px; }
    @media screen and (max-width: 992px) {
      .section-title::after {
        height: 17px;
        top: 55px; } }
    @media screen and (max-width: lg) {
      .section-title::after {
        height: 17px;
        top: 55px; } }
    @media screen and (max-width: 385px) {
      .section-title::after {
        display: none; } }

.section-pretitle {
  font-size: 14px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  position: relative;
  font-family: "Lato", sans-serif;
  display: block; }
  .section-pretitle::after {
    content: '';
    position: absolute;
    height: 30px;
    width: 2px;
    background-color: #b89b5e;
    left: 50%;
    transform: translateX(-50%);
    top: -45px; }
    @media screen and (max-width: 992px) {
      .section-pretitle::after {
        height: 17px;
        top: -45px; } }
    @media screen and (max-width: lg) {
      .section-pretitle::after {
        height: 17px;
        top: -45px; } }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

@media screen and (max-width: 992px) {
  body {
    overflow-x: hidden; } }

@media screen and (max-width: lg) {
  body {
    overflow-x: hidden; } }

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
  padding: 0;
  margin: 0; }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1325px; } }

.container--alt {
  max-width: 1480px; }

@media screen and (min-width: 1200px) {
  .header-nav__container {
    max-width: 95%; } }

/*--------------------------------------------------------------
# Parts
--------------------------------------------------------------*/
.btn {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  background-color: #191c23;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  outline: none;
  min-width: 200px;
  transition: 350ms ease;
  position: relative; }
  .btn:hover {
    color: #000;
    transition: 350ms ease; }

.hamburger {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #b89b5e;
  position: absolute;
  right: 40px;
  border: 5px solid #b89b5e;
  z-index: 2; }
  @media screen and (max-width: 992px) {
    .hamburger {
      display: block; } }
  @media screen and (max-width: lg) {
    .hamburger {
      display: block; } }
  .hamburger::before, .hamburger::after {
    content: ''; }
  .hamburger::before, .hamburger::after,
  .hamburger span {
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #191c23;
    transition: 350ms ease; }
  .hamburger::before {
    top: 5px;
    left: 0; }
  .hamburger::after {
    bottom: 5px;
    right: 0; }
  .hamburger span {
    display: block;
    top: 50%;
    margin-top: -1px; }
    .hamburger span::before {
      position: absolute;
      content: '';
      background-color: #191c23;
      width: 100%;
      height: 3px;
      transition: 350ms ease; }

.hamburger--active::before, .hamburger--active::after {
  width: 0;
  transition: 350ms ease; }

.hamburger--active span {
  transform: rotate(45deg);
  transition: 350ms ease; }
  .hamburger--active span::before {
    transform: rotate(-90deg);
    transition: 350ms ease; }

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.header-info {
  background-color: #191c23; }

.header-info__contact-wrapp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0; }
  @media screen and (max-width: 420px) {
    .header-info__contact-wrapp {
      display: block; } }

.header-info__contact {
  display: flex; }
  @media screen and (max-width: 768px) {
    .header-info__contact {
      display: block;
      text-align: center; } }
  @media screen and (max-width: md) {
    .header-info__contact {
      display: block;
      text-align: center; } }

.header-info__contact-mail {
  display: inline-block;
  color: white;
  font-size: 18px;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  padding-left: 25px;
  position: relative;
  margin-right: 15px;
  transition: 350ms ease;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .header-info__contact-mail {
      font-size: 16px;
      margin-right: 0; } }
  @media screen and (max-width: md) {
    .header-info__contact-mail {
      font-size: 16px;
      margin-right: 0; } }
  .header-info__contact-mail:hover {
    color: #c29965;
    transition: 350ms ease; }
    .header-info__contact-mail:hover::before {
      color: #c29965;
      transition: 350ms ease; }
  .header-info__contact-mail::before {
    content: '\f0e0';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    font-family: "FontAwesome";
    transition: 350ms ease; }

.header-info__contact-num {
  display: inline-block;
  color: white;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  letter-spacing: 0.5px;
  padding-left: 25px;
  position: relative;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .header-info__contact-num {
      font-size: 16px; } }
  @media screen and (max-width: md) {
    .header-info__contact-num {
      font-size: 16px; } }
  .header-info__contact-num:hover {
    color: #c29965;
    transition: 350ms ease; }
    .header-info__contact-num:hover::before {
      color: #c29965;
      transition: 350ms ease; }
  .header-info__contact-num::before {
    content: '\f2a0';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    font-family: "FontAwesome"; }

.header-info__social-wrap {
  padding-left: 15px; }
  @media screen and (max-width: 768px) {
    .header-info__social-wrap {
      display: flex; } }
  @media screen and (max-width: md) {
    .header-info__social-wrap {
      display: flex; } }
  @media screen and (max-width: 450px) {
    .header-info__social-wrap {
      padding-left: 0;
      justify-content: center; } }

.header-info__social {
  padding-left: 15px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  transition: 350ms ease; }
  @media screen and (max-width: 400px) {
    .header-info__social {
      padding-left: 12px; } }
  .header-info__social:hover {
    color: #c29965;
    transition: 350ms ease; }
  .header-info__social i {
    font-size: 18px;
    font-weight: 600; }
    @media screen and (max-width: 400px) {
      .header-info__social i {
        font-size: 17px; } }

/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
.header-nav {
  height: 134px;
  width: 100%;
  position: relative;
  margin: 20px 0; }
  @media screen and (max-width: 992px) {
    .header-nav {
      height: 0;
      margin: 0; } }
  @media screen and (max-width: lg) {
    .header-nav {
      height: 0;
      margin: 0; } }

.nav__wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center; }
  @media screen and (max-width: 992px) {
    .nav__wrapp {
      display: block;
      width: 0;
      position: absolute;
      background-color: #191c23;
      top: 0;
      right: 0;
      padding: 50px 0px 20px 0px;
      z-index: 1;
      height: 100vh;
      transition: 350ms ease; }
      .nav__wrapp:hover .nav__list-item-link:hover {
        background-color: #191c23;
        color: #b89b5e;
        border: 2px solid #b89b5e;
        transition: 350ms ease; }
        .nav__wrapp:hover .nav__list-item-link:hover::before {
          width: 0; } }
  @media screen and (max-width: lg) {
    .nav__wrapp {
      display: block;
      width: 0;
      position: absolute;
      background-color: #191c23;
      top: 0;
      right: 0;
      padding: 50px 0px 20px 0px;
      z-index: 1;
      height: 100vh;
      transition: 350ms ease; }
      .nav__wrapp:hover .nav__list-item-link:hover {
        background-color: #191c23;
        color: #b89b5e;
        border: 2px solid #b89b5e;
        transition: 350ms ease; }
        .nav__wrapp:hover .nav__list-item-link:hover::before {
          width: 0; } }

.nav__wrapp--active {
  width: 250px;
  padding: 50px 20px 20px 20px;
  transition: 350ms ease; }

@media screen and (max-width: 992px) {
  .nav__logo {
    margin-bottom: 10px; } }

@media screen and (max-width: lg) {
  .nav__logo {
    margin-bottom: 10px; } }

@media screen and (max-width: 992px) {
  .nav__logo-img {
    width: 210px;
    display: none; } }

@media screen and (max-width: lg) {
  .nav__logo-img {
    width: 210px;
    display: none; } }

.nav__logo-img--active {
  display: block; }

@media screen and (max-width: 992px) {
  .nav {
    margin-bottom: 20px; } }

@media screen and (max-width: lg) {
  .nav {
    margin-bottom: 20px; } }

.nav__list {
  display: flex; }
  @media screen and (max-width: 992px) {
    .nav__list {
      display: block;
      width: 100%; } }
  @media screen and (max-width: lg) {
    .nav__list {
      display: block;
      width: 100%; } }

.nav__list-item {
  padding-left: 20px; }
  @media screen and (max-width: 992px) {
    .nav__list-item {
      padding: 10px 0; } }
  @media screen and (max-width: lg) {
    .nav__list-item {
      padding: 10px 0; } }

.nav__list-item:first-of-type {
  padding-left: 0px; }
  @media screen and (max-width: 992px) {
    .nav__list-item:first-of-type {
      padding: 10px 0; } }
  @media screen and (max-width: lg) {
    .nav__list-item:first-of-type {
      padding: 10px 0; } }

.nav__list-item-link {
  font-size: 19px;
  font-weight: 600;
  color: #191c23;
  letter-spacing: 0.5px;
  font-family: "Open Sans", sans-serif;
  padding: 20px 15px;
  transition: 350ms ease;
  position: relative;
  text-transform: uppercase; }
  @media screen and (max-width: 1200px) {
    .nav__list-item-link {
      font-size: 17px;
      padding: 10px 5px; } }
  @media screen and (max-width: 992px) {
    .nav__list-item-link {
      background-color: #b89b5e;
      width: 160px;
      display: none;
      margin: auto;
      font-size: 17px;
      transition: 350ms ease;
      border: 2px solid #191c23;
      padding: 5px 10px; } }
  @media screen and (max-width: lg) {
    .nav__list-item-link {
      background-color: #b89b5e;
      width: 160px;
      display: none;
      margin: auto;
      font-size: 17px;
      transition: 350ms ease;
      border: 2px solid #191c23;
      padding: 5px 10px; } }
  .nav__list-item-link:hover {
    background-color: #b89b5e;
    transition: 350ms ease; }
    .nav__list-item-link:hover::before {
      width: 100%;
      transition: 350ms ease;
      opacity: 1; }
  .nav__list-item-link::before {
    content: '';
    position: absolute;
    height: 2.5px;
    width: 1%;
    left: 0;
    bottom: 0;
    background-color: #191c23;
    opacity: 0; }

.nav__list-item-link--active {
  display: block; }

.nav__request-wrap {
  display: flex;
  background-color: #191c23;
  border: 4px solid #b89b5e;
  border-radius: 3px;
  transition: 350ms ease; }
  @media screen and (max-width: 1200px) {
    .nav__request-wrap {
      width: 190px; } }
  @media screen and (max-width: 992px) {
    .nav__request-wrap {
      width: 140px;
      margin: auto;
      display: none; } }
  @media screen and (max-width: lg) {
    .nav__request-wrap {
      width: 140px;
      margin: auto;
      display: none; } }
  .nav__request-wrap:hover {
    background-color: #b89b5e;
    border: 4px solid #191c23;
    transition: 350ms ease; }
    .nav__request-wrap:hover .nav__request {
      color: #191c23;
      transition: 350ms ease; }

.nav__request-wrap--active {
  display: block; }

.nav__request {
  color: #b89b5e;
  font-size: 17px;
  font-family: "Sacramento", cursive;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: 350ms ease; }
  @media screen and (max-width: 992px) {
    .nav__request {
      color: #b89b5e;
      font-size: 13px;
      padding: 10px; } }
  @media screen and (max-width: lg) {
    .nav__request {
      color: #b89b5e;
      font-size: 13px;
      padding: 10px; } }

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.footer {
  background-image: url("../img/footer-bg.jpg");
  background-position: center center;
  background-size: cover;
  height: 511px; }
  @media screen and (max-width: 1316px) {
    .footer {
      height: 538px; } }
  @media screen and (max-width: 1200px) {
    .footer {
      height: 693px; } }
  @media screen and (max-width: 992px) {
    .footer {
      height: 678px; } }
  @media screen and (max-width: lg) {
    .footer {
      height: 678px; } }
  @media screen and (max-width: 768px) {
    .footer {
      height: 759px; } }
  @media screen and (max-width: md) {
    .footer {
      height: 759px; } }
  @media screen and (max-width: 468px) {
    .footer {
      height: 853px; } }

.footer__wrap {
  padding-top: 70px;
  padding-bottom: 25px; }
  @media screen and (max-width: 992px) {
    .footer__wrap {
      padding-top: 45px;
      padding-bottom: 35px; } }
  @media screen and (max-width: lg) {
    .footer__wrap {
      padding-top: 45px;
      padding-bottom: 35px; } }
  @media screen and (max-width: 768px) {
    .footer__wrap {
      padding-bottom: 20px; } }
  @media screen and (max-width: md) {
    .footer__wrap {
      padding-bottom: 20px; } }

.footer__box-wrap {
  margin-bottom: 15px; }

@media screen and (max-width: 992px) {
  .footer__box-content {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center; } }

@media screen and (max-width: lg) {
  .footer__box-content {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center; } }

.footer__box-content-logo {
  margin-bottom: 21px; }
  @media screen and (max-width: 1200px) {
    .footer__box-content-logo {
      text-align: center; } }

.footer__box-content-text {
  color: white;
  font-size: 17px;
  margin-bottom: 25px; }
  @media screen and (max-width: 1200px) {
    .footer__box-content-text {
      text-align: center; } }
  @media screen and (max-width: 992px) {
    .footer__box-content-text {
      font-size: 15px;
      margin-bottom: 10px; } }
  @media screen and (max-width: lg) {
    .footer__box-content-text {
      font-size: 15px;
      margin-bottom: 10px; } }
  @media screen and (max-width: 1200px) {
    .footer__box-content-text br {
      display: none; } }

@media screen and (max-width: 768px) {
  .footer__area-content {
    margin-bottom: 5px; } }

@media screen and (max-width: md) {
  .footer__area-content {
    margin-bottom: 5px; } }

.footer__area-content-title {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  display: block;
  margin-bottom: 65px;
  border-bottom: 1px solid #b89b5e;
  padding-bottom: 22px; }
  @media screen and (max-width: 1200px) {
    .footer__area-content-title {
      margin-bottom: 30px; } }
  @media screen and (max-width: 768px) {
    .footer__area-content-title {
      padding-bottom: 10px;
      margin-bottom: 15px;
      text-align: center; } }
  @media screen and (max-width: md) {
    .footer__area-content-title {
      padding-bottom: 10px;
      margin-bottom: 15px;
      text-align: center; } }

.footer__area-content-box {
  display: flex;
  flex-wrap: wrap; }

.footer__area-content-box-text {
  width: 50%;
  display: block;
  color: #fff;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  transition: 350ms ease; }
  @media screen and (max-width: 768px) {
    .footer__area-content-box-text {
      font-size: 15px;
      width: 50%;
      margin-bottom: 13px;
      text-align: center; } }
  @media screen and (max-width: md) {
    .footer__area-content-box-text {
      font-size: 15px;
      width: 50%;
      margin-bottom: 13px;
      text-align: center; } }
  @media screen and (max-width: 576px) {
    .footer__area-content-box-text {
      font-size: 13px; } }
  @media screen and (max-width: sm) {
    .footer__area-content-box-text {
      font-size: 13px; } }
  .footer__area-content-box-text:hover {
    color: #b89b5e;
    transition: 350ms ease; }

.footer__cont-content-title {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  display: block;
  margin-bottom: 65px;
  border-bottom: 1px solid #b89b5e;
  padding-bottom: 22px; }
  @media screen and (max-width: 1200px) {
    .footer__cont-content-title {
      margin-bottom: 30px; } }
  @media screen and (max-width: 768px) {
    .footer__cont-content-title {
      padding-bottom: 10px;
      margin-bottom: 15px;
      text-align: center; } }
  @media screen and (max-width: md) {
    .footer__cont-content-title {
      padding-bottom: 10px;
      margin-bottom: 15px;
      text-align: center; } }

.footer__cont-content-box :nth-child(1)::before {
  content: '\f3c5'; }

.footer__cont-content-box :nth-child(2)::before {
  content: '\f2a0'; }

.footer__cont-content-box :nth-child(3)::before {
  content: '\f0e0'; }

.footer__cont-content-box-text {
  display: block;
  color: #9b9b9b;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  position: relative;
  padding-left: 50px; }
  @media screen and (max-width: 768px) {
    .footer__cont-content-box-text {
      font-size: 14px;
      margin-bottom: 10px; } }
  @media screen and (max-width: md) {
    .footer__cont-content-box-text {
      font-size: 14px;
      margin-bottom: 10px; } }
  .footer__cont-content-box-text::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-family: "FontAwesome";
    color: #b89b5e; }

.footer__cont-content-box-social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-left: 20px; }
  @media screen and (max-width: 768px) {
    .footer__cont-content-box-social {
      margin: auto;
      margin-top: 14px;
      justify-content: center;
      align-items: center;
      text-align: center; } }
  @media screen and (max-width: md) {
    .footer__cont-content-box-social {
      margin: auto;
      margin-top: 14px;
      justify-content: center;
      align-items: center;
      text-align: center; } }
  .footer__cont-content-box-social :nth-child(1):before {
    content: '\f39e'; }
  .footer__cont-content-box-social :nth-child(2):before {
    content: '\f099'; }
  .footer__cont-content-box-social :nth-child(3):before {
    content: '\f0e1'; }
  .footer__cont-content-box-social :nth-child(4):before {
    content: '\f16d'; }

.footer__cont-content-social {
  width: 40px;
  border: 1.8px solid #fff;
  border-radius: 50%;
  height: 40px;
  position: relative;
  color: #fff;
  transition: 350ms ease;
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 500px) {
    .footer__cont-content-social {
      width: 30px;
      height: 30px;
      margin-right: 15px; } }
  .footer__cont-content-social:hover {
    color: #b89b5e;
    transition: 350ms ease;
    border-color: #b89b5e; }
  .footer__cont-content-social::before {
    position: absolute;
    font-size: 20px;
    font-family: "FontAwesome"; }
    @media screen and (max-width: 500px) {
      .footer__cont-content-social::before {
        font-size: 15px; } }

.footer__copyright {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-top: 1px solid #b89b5e; }

.footer__copyright-text {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  font-family: "Lato", sans-serif; }
  @media screen and (max-width: 768px) {
    .footer__copyright-text {
      font-size: 14px; } }
  @media screen and (max-width: md) {
    .footer__copyright-text {
      font-size: 14px; } }
  @media screen and (max-width: 576px) {
    .footer__copyright-text {
      font-size: 13px; } }
  @media screen and (max-width: sm) {
    .footer__copyright-text {
      font-size: 13px; } }
  .footer__copyright-text span {
    color: #b89b5e; }

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
.banner {
  background-image: url("../img/banner-2.jpg");
  background-position: center center;
  background-size: cover;
  height: 850px;
  display: flex;
  align-items: center;
  justify-content: right; }
  @media screen and (max-width: 1200px) {
    .banner {
      height: 700px; } }
  @media screen and (max-width: 992px) {
    .banner {
      height: 600px; } }
  @media screen and (max-width: lg) {
    .banner {
      height: 600px; } }
  @media screen and (max-width: 768px) {
    .banner {
      height: 500px; } }
  @media screen and (max-width: md) {
    .banner {
      height: 500px; } }
  @media screen and (max-width: 550px) {
    .banner {
      height: 400px;
      justify-content: center;
      text-align: center; } }

.banner__container {
  padding-top: 100px; }
  @media screen and (max-width: 1200px) {
    .banner__container {
      padding-top: 0; } }

.banner__slider {
  margin-bottom: 65px; }
  @media screen and (max-width: 992px) {
    .banner__slider {
      margin-bottom: 30px; } }
  @media screen and (max-width: lg) {
    .banner__slider {
      margin-bottom: 30px; } }
  @media screen and (max-width: 550px) {
    .banner__slider {
      margin-bottom: 0;
      background-color: rgba(250, 250, 255, 0.5); } }

.banner__slide-pretitle {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 60px;
  display: block;
  position: relative; }
  @media screen and (max-width: 992px) {
    .banner__slide-pretitle {
      margin-bottom: 30px; } }
  @media screen and (max-width: lg) {
    .banner__slide-pretitle {
      margin-bottom: 30px; } }
  @media screen and (max-width: 768px) {
    .banner__slide-pretitle {
      font-size: 14px; } }
  @media screen and (max-width: md) {
    .banner__slide-pretitle {
      font-size: 14px; } }
  @media screen and (max-width: 550px) {
    .banner__slide-pretitle {
      display: none; } }
  .banner__slide-pretitle::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -35px;
    width: 84px;
    height: 2px;
    background-color: #b89b5e; }
    @media screen and (max-width: 992px) {
      .banner__slide-pretitle::after {
        width: 50px;
        bottom: -20px;
        height: 1px; } }
    @media screen and (max-width: lg) {
      .banner__slide-pretitle::after {
        width: 50px;
        bottom: -20px;
        height: 1px; } }

@media screen and (max-width: 992px) {
  .banner__slide-title {
    font-size: 40px;
    line-height: 50px; } }

@media screen and (max-width: lg) {
  .banner__slide-title {
    font-size: 40px;
    line-height: 50px; } }

@media screen and (max-width: 768px) {
  .banner__slide-title {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 15px; } }

@media screen and (max-width: md) {
  .banner__slide-title {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 15px; } }

@media screen and (max-width: 700px) {
  .banner__slide-title {
    font-family: "Kalam", cursive; } }

@media screen and (max-width: 550px) {
  .banner__slide-title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
    color: #191c23; } }

.banner__slide-title span {
  color: #b89b5e; }
  @media screen and (max-width: 550px) {
    .banner__slide-title span {
      color: #896313; } }

.banner__slide-text {
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  line-height: 30px; }
  @media screen and (max-width: 992px) {
    .banner__slide-text {
      font-size: 15px; } }
  @media screen and (max-width: lg) {
    .banner__slide-text {
      font-size: 15px; } }
  @media screen and (max-width: 768px) {
    .banner__slide-text {
      font-size: 14px;
      line-height: 23px; } }
  @media screen and (max-width: md) {
    .banner__slide-text {
      font-size: 14px;
      line-height: 23px; } }
  @media screen and (max-width: 550px) {
    .banner__slide-text {
      font-size: 12px;
      line-height: 20px;
      color: #896313; } }

.banner__slider-arrows {
  display: flex; }
  @media screen and (max-width: 550px) {
    .banner__slider-arrows {
      justify-content: center;
      align-items: center; } }

.banner__slider-arrow-left {
  position: relative;
  width: 40px;
  height: 40px;
  color: #fff;
  display: block;
  margin-right: 70px;
  cursor: pointer;
  transition: 350ms ease; }
  @media screen and (max-width: 768px) {
    .banner__slider-arrow-left {
      width: 25px;
      height: 25px; } }
  @media screen and (max-width: md) {
    .banner__slider-arrow-left {
      width: 25px;
      height: 25px; } }
  @media screen and (max-width: 550px) {
    .banner__slider-arrow-left {
      margin-right: 20px; } }
  .banner__slider-arrow-left:hover {
    color: #b89b5e;
    transition: 350ms ease; }
  .banner__slider-arrow-left::before {
    content: '\f30a';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "FontAwesome";
    font-size: 40px;
    font-weight: 100; }
    @media screen and (max-width: 768px) {
      .banner__slider-arrow-left::before {
        font-size: 25px; } }
    @media screen and (max-width: md) {
      .banner__slider-arrow-left::before {
        font-size: 25px; } }

.banner__slider-arrow-right {
  position: relative;
  width: 40px;
  height: 40px;
  color: #fff;
  display: block;
  cursor: pointer;
  transition: 350ms ease; }
  @media screen and (max-width: 768px) {
    .banner__slider-arrow-right {
      width: 25px;
      height: 25px; } }
  @media screen and (max-width: md) {
    .banner__slider-arrow-right {
      width: 25px;
      height: 25px; } }
  .banner__slider-arrow-right:hover {
    color: #b89b5e;
    transition: 350ms ease; }
  .banner__slider-arrow-right::before {
    content: '\f30b';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "FontAwesome";
    font-size: 40px;
    font-weight: 100; }
    @media screen and (max-width: 768px) {
      .banner__slider-arrow-right::before {
        font-size: 25px; } }
    @media screen and (max-width: md) {
      .banner__slider-arrow-right::before {
        font-size: 25px; } }

.intro-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.intro-section__overlay {
  background-color: #1d2027;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .97; }

.intro-section__img {
  width: 100%;
  max-width: 100%;
  height: 1200px; }
  @media screen and (max-width: 1200px) {
    .intro-section__img {
      height: 1000px; } }
  @media screen and (max-width: 576px) {
    .intro-section__img {
      height: 900px; } }
  @media screen and (max-width: sm) {
    .intro-section__img {
      height: 900px; } }

.intro-section__wraper {
  position: absolute;
  top: -65px; }
  @media screen and (max-width: 768px) {
    .intro-section__wraper {
      top: 110px; } }
  @media screen and (max-width: md) {
    .intro-section__wraper {
      top: 110px; } }

.intro-section__box {
  margin-bottom: 140px; }
  @media screen and (max-width: 992px) {
    .intro-section__box {
      margin-bottom: 80px; } }
  @media screen and (max-width: lg) {
    .intro-section__box {
      margin-bottom: 80px; } }
  @media screen and (max-width: 768px) {
    .intro-section__box {
      display: none; } }
  @media screen and (max-width: md) {
    .intro-section__box {
      display: none; } }

.intro-section__row:nth-child(4) {
  border-right: none; }

.intro-section__box-item-wrap {
  padding: 0px;
  border-right: 1px solid #303339; }
  .intro-section__box-item-wrap:nth-of-type(4) {
    border-right: none; }

.intro-section__box-item {
  padding: 28px 10px 28px 0;
  background-color: #191c23;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 1200px) {
    .intro-section__box-item {
      padding: 15px 5px 5px 5px;
      display: block; } }

.intro-section__box-item-icon {
  max-width: 80px;
  width: 100%;
  text-align: center; }
  @media screen and (max-width: 1200px) {
    .intro-section__box-item-icon {
      margin: auto;
      margin-bottom: 15px; } }
  .intro-section__box-item-icon i {
    color: #b89b5e;
    font-family: "FontAwesome";
    font-size: 50px; }

.intro-section__box-item-para {
  max-width: 320px;
  width: 100%; }
  @media screen and (max-width: 1200px) {
    .intro-section__box-item-para {
      text-align: center; } }

.intro-section__box-para-title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.5px;
  margin-bottom: 20px; }
  @media screen and (max-width: 992px) {
    .intro-section__box-para-title {
      font-size: 20px; } }
  @media screen and (max-width: lg) {
    .intro-section__box-para-title {
      font-size: 20px; } }

.intro-section__box-para-text {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.5px; }
  @media screen and (max-width: 1240px) {
    .intro-section__box-para-text {
      height: 72px; } }
  @media screen and (max-width: 992px) {
    .intro-section__box-para-text {
      font-size: 14px; } }
  @media screen and (max-width: lg) {
    .intro-section__box-para-text {
      font-size: 14px; } }

.intro-section__content-pretitle {
  display: block;
  text-align: center; }
  @media screen and (max-width: 992px) {
    .intro-section__content-pretitle {
      font-size: 13px; } }
  @media screen and (max-width: lg) {
    .intro-section__content-pretitle {
      font-size: 13px; } }

.intro-section__content-title {
  text-align: center;
  margin-bottom: 140px; }
  @media screen and (max-width: 992px) {
    .intro-section__content-title {
      margin-bottom: 80px; } }
  @media screen and (max-width: lg) {
    .intro-section__content-title {
      margin-bottom: 80px; } }

.intro-section__content-wrap {
  display: flex; }
  @media screen and (max-width: 992px) {
    .intro-section__content-wrap {
      display: block; } }
  @media screen and (max-width: lg) {
    .intro-section__content-wrap {
      display: block; } }

.intro-section__content-inner-img {
  margin-top: -60px; }
  @media screen and (max-width: 1200px) {
    .intro-section__content-inner-img {
      width: 30%; } }
  @media screen and (max-width: 992px) {
    .intro-section__content-inner-img {
      height: 250px;
      margin-left: auto;
      margin-top: 0;
      width: 100%; } }
  @media screen and (max-width: lg) {
    .intro-section__content-inner-img {
      height: 250px;
      margin-left: auto;
      margin-top: 0;
      width: 100%; } }

@media screen and (max-width: 1200px) {
  .intro-section__content-img {
    width: 100%; } }

@media screen and (max-width: 992px) {
  .intro-section__content-img {
    height: 100%;
    object-fit: cover; } }

@media screen and (max-width: lg) {
  .intro-section__content-img {
    height: 100%;
    object-fit: cover; } }

.intro-section__content-inner-text {
  background-color: white;
  padding: 70px 50px; }
  @media screen and (max-width: 1340px) {
    .intro-section__content-inner-text {
      padding: 70px 35px; } }
  @media screen and (max-width: 1200px) {
    .intro-section__content-inner-text {
      padding: 45px 15px;
      width: 70%; } }
  @media screen and (max-width: 992px) {
    .intro-section__content-inner-text {
      padding: 15px 15px;
      width: 100%; } }
  @media screen and (max-width: lg) {
    .intro-section__content-inner-text {
      padding: 15px 15px;
      width: 100%; } }

.intro-section__content-text-title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 35px;
  color: #343a40;
  font-family: "Playfair Display", serif;
  letter-spacing: -0.5px;
  text-align: center; }
  @media screen and (max-width: 1340px) {
    .intro-section__content-text-title {
      font-size: 28px; } }
  @media screen and (max-width: 1200px) {
    .intro-section__content-text-title {
      letter-spacing: -1px;
      margin-bottom: 15px; } }
  @media screen and (max-width: 992px) {
    .intro-section__content-text-title {
      margin-bottom: 8px; } }
  @media screen and (max-width: lg) {
    .intro-section__content-text-title {
      margin-bottom: 8px; } }
  @media screen and (max-width: 576px) {
    .intro-section__content-text-title {
      font-size: 20px; } }
  @media screen and (max-width: sm) {
    .intro-section__content-text-title {
      font-size: 20px; } }
  .intro-section__content-text-title span {
    color: #b89b5e; }

.intro-section__content-text-para {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
  color: #868e96;
  font-family: "Lato", sans-serif;
  margin-bottom: 30px; }
  @media screen and (max-width: 1340px) {
    .intro-section__content-text-para {
      font-size: 15px; } }
  @media screen and (max-width: 1200px) {
    .intro-section__content-text-para {
      margin-bottom: 10px;
      letter-spacing: -0.7px; } }
  @media screen and (max-width: 992px) {
    .intro-section__content-text-para {
      line-height: 1.5;
      margin-bottom: 5px; } }
  @media screen and (max-width: lg) {
    .intro-section__content-text-para {
      line-height: 1.5;
      margin-bottom: 5px; } }
  @media screen and (max-width: 576px) {
    .intro-section__content-text-para {
      font-size: 13px; } }
  @media screen and (max-width: sm) {
    .intro-section__content-text-para {
      font-size: 13px; } }

.intro-section__content-text-num {
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 700;
  display: block; }
  @media screen and (max-width: 1200px) {
    .intro-section__content-text-num {
      font-size: 14px; } }
  @media screen and (max-width: 576px) {
    .intro-section__content-text-num {
      font-size: 12px; } }
  @media screen and (max-width: sm) {
    .intro-section__content-text-num {
      font-size: 12px; } }

.intro-section__content-text-signature {
  color: #b89b5e;
  font-family: "Sacramento", cursive;
  font-size: 40px;
  font-weight: 400;
  display: block; }
  @media screen and (max-width: 1200px) {
    .intro-section__content-text-signature {
      font-size: 30px; } }
  @media screen and (max-width: 992px) {
    .intro-section__content-text-signature {
      font-size: 25px; } }
  @media screen and (max-width: lg) {
    .intro-section__content-text-signature {
      font-size: 25px; } }
  @media screen and (max-width: 576px) {
    .intro-section__content-text-signature {
      font-size: 20px; } }
  @media screen and (max-width: sm) {
    .intro-section__content-text-signature {
      font-size: 20px; } }
  @media screen and (max-width: 700px) {
    .intro-section__content-text-signature {
      font-family: "Kalam", cursive; } }

.intro-section__content-text-name {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #000;
  font-size: 24px;
  display: block; }
  @media screen and (max-width: 1200px) {
    .intro-section__content-text-name {
      font-size: 20px; } }
  @media screen and (max-width: 992px) {
    .intro-section__content-text-name {
      font-size: 18px; } }
  @media screen and (max-width: lg) {
    .intro-section__content-text-name {
      font-size: 18px; } }
  @media screen and (max-width: 576px) {
    .intro-section__content-text-name {
      font-size: 15px; } }
  @media screen and (max-width: sm) {
    .intro-section__content-text-name {
      font-size: 15px; } }

.work-section {
  background-color: #191c23;
  padding: 140px 0; }
  @media screen and (max-width: 992px) {
    .work-section {
      padding: 85px 0px; } }
  @media screen and (max-width: lg) {
    .work-section {
      padding: 85px 0px; } }

.work-section__content {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #b89b5e; }

@media screen and (max-width: 992px) {
  .work-section__pretitle {
    font-size: 13px; } }

@media screen and (max-width: lg) {
  .work-section__pretitle {
    font-size: 13px; } }

.work-section__title {
  margin-bottom: 115px; }
  @media screen and (max-width: 992px) {
    .work-section__title {
      margin-bottom: 70px; } }
  @media screen and (max-width: lg) {
    .work-section__title {
      margin-bottom: 70px; } }
  @media screen and (max-width: 576px) {
    .work-section__title {
      margin-bottom: 50px; } }
  @media screen and (max-width: sm) {
    .work-section__title {
      margin-bottom: 50px; } }

.work-section__text {
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 50px; }
  @media screen and (max-width: 992px) {
    .work-section__text {
      font-size: 16px;
      padding-bottom: 20px; } }
  @media screen and (max-width: lg) {
    .work-section__text {
      font-size: 16px;
      padding-bottom: 20px; } }

.work-section__row {
  padding-top: 65px; }
  @media screen and (max-width: 992px) {
    .work-section__row {
      padding-top: 40px; } }
  @media screen and (max-width: lg) {
    .work-section__row {
      padding-top: 40px; } }

.work-section__wrap-box {
  background-color: #fff;
  padding: 0px;
  border-right: 1px solid #191c23;
  transition: 350ms ease;
  cursor: pointer;
  position: relative; }
  @media screen and (max-width: 1200px) {
    .work-section__wrap-box {
      border-bottom: 1px solid #191c23; } }
  @media screen and (max-width: 576px) {
    .work-section__wrap-box {
      border-right: none; } }
  @media screen and (max-width: sm) {
    .work-section__wrap-box {
      border-right: none; } }
  .work-section__wrap-box:hover .work-section__box-icon i {
    color: #191c23;
    transition: 350ms ease; }
  .work-section__wrap-box:hover .work-section__box-item-title {
    color: #fff;
    transition: 350ms ease; }
    .work-section__wrap-box:hover .work-section__box-item-title::before {
      background-color: #191c23;
      transition: 350ms ease; }
  .work-section__wrap-box:hover .work-section__box-item-text {
    color: #fff;
    transition: 350ms ease; }
  .work-section__wrap-box:hover .work-section__overlay {
    width: 100%;
    transition: 350ms ease; }

.work-section__box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0; }
  @media screen and (max-width: 992px) {
    .work-section__box-icon {
      padding: 15px 0px; } }
  @media screen and (max-width: lg) {
    .work-section__box-icon {
      padding: 15px 0px; } }
  .work-section__box-icon i {
    font-family: "FontAwesome";
    font-size: 40px;
    color: #b89b5e;
    transition: 350ms ease;
    z-index: 2; }

.work-section__box-item {
  text-align: left;
  padding: 0px 10px 10px 18px; }
  @media screen and (max-width: 1200px) {
    .work-section__box-item {
      text-align: center; } }

.work-section__box-item-title {
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
  color: #000;
  margin-bottom: 20px;
  position: relative;
  transition: 350ms ease;
  z-index: 2; }
  @media screen and (max-width: 992px) {
    .work-section__box-item-title {
      font-size: 20px; } }
  @media screen and (max-width: lg) {
    .work-section__box-item-title {
      font-size: 20px; } }
  .work-section__box-item-title::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 1px;
    background-color: #b89b5e;
    left: 0;
    bottom: -10px;
    transition: 350ms ease; }
    @media screen and (max-width: 1200px) {
      .work-section__box-item-title::before {
        left: 50%;
        transform: translateX(-50%); } }

.work-section__box-item-text {
  font-size: 15px;
  line-height: 1.7;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #000;
  margin-bottom: 30px;
  transition: 350ms ease;
  z-index: 2;
  position: relative; }
  @media screen and (max-width: 1252px) {
    .work-section__box-item-text {
      font-size: 14px; } }

.work-section__overlay {
  position: absolute;
  height: 100%;
  background-color: #b89b5e;
  width: 0;
  top: 0;
  left: 0;
  transition: 350ms ease;
  z-index: 1; }

.experience {
  background-color: #eaeaea;
  padding: 100px 0; }
  @media screen and (max-width: 992px) {
    .experience {
      padding: 65px 0; } }
  @media screen and (max-width: lg) {
    .experience {
      padding: 65px 0; } }

.experience__pretitle {
  text-align: center;
  color: #191c23;
  display: block; }
  @media screen and (max-width: 992px) {
    .experience__pretitle {
      font-size: 13px; } }
  @media screen and (max-width: lg) {
    .experience__pretitle {
      font-size: 13px; } }

.experience__title {
  text-align: center;
  color: #191c23;
  margin-bottom: 100px; }
  @media screen and (max-width: 992px) {
    .experience__title {
      margin-bottom: 50px; } }
  @media screen and (max-width: lg) {
    .experience__title {
      margin-bottom: 50px; } }

@media screen and (max-width: 992px) {
  .experience__box-wrap {
    text-align: center;
    margin-bottom: 20px; } }

@media screen and (max-width: lg) {
  .experience__box-wrap {
    text-align: center;
    margin-bottom: 20px; } }

.experience__box-pretitle {
  color: #5b5b5b;
  font-size: 29px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  letter-spacing: 2px; }
  @media screen and (max-width: 992px) {
    .experience__box-pretitle {
      font-size: 17px;
      margin-bottom: 15px; } }
  @media screen and (max-width: lg) {
    .experience__box-pretitle {
      font-size: 17px;
      margin-bottom: 15px; } }

.experience__box-title {
  color: #5b5b5b;
  font-size: 32px;
  font-weight: 600;
  font-family: "Lato", sans-serif; }
  @media screen and (max-width: 1200px) {
    .experience__box-title {
      font-size: 40px; } }
  @media screen and (max-width: 992px) {
    .experience__box-title {
      font-size: 25px; } }
  @media screen and (max-width: lg) {
    .experience__box-title {
      font-size: 25px; } }
  .experience__box-title span {
    color: #b89b5e; }

.experience__box-text {
  font-size: 17px;
  color: #5b5b5b;
  font-weight: 300;
  line-height: 2;
  font-family: "Open Sans", sans-serif;
  letter-spacing: .1px; }
  @media screen and (max-width: 1200px) {
    .experience__box-text br {
      display: none; } }
  @media screen and (max-width: 1263px) {
    .experience__box-text {
      font-size: 16px; } }
  @media screen and (max-width: 992px) {
    .experience__box-text {
      font-size: 15px; } }
  @media screen and (max-width: lg) {
    .experience__box-text {
      font-size: 15px; } }
  @media screen and (max-width: 768px) {
    .experience__box-text {
      font-size: 14px; } }
  @media screen and (max-width: md) {
    .experience__box-text {
      font-size: 14px; } }
  @media screen and (max-width: 576px) {
    .experience__box-text {
      font-size: 12px; } }
  @media screen and (max-width: sm) {
    .experience__box-text {
      font-size: 12px; } }

.experience__box-item-wrap {
  background-image: url("../img/experience.jpg");
  background-position: center center;
  background-size: cover;
  height: 450px;
  overflow-y: scroll;
  padding: 40px 0; }
  @media screen and (max-width: 768px) {
    .experience__box-item-wrap {
      height: 350px; } }
  @media screen and (max-width: md) {
    .experience__box-item-wrap {
      height: 350px; } }
  .experience__box-item-wrap::-webkit-scrollbar {
    width: 10px; }
  .experience__box-item-wrap::-webkit-scrollbar-track {
    background-color: silver; }
  .experience__box-item-wrap::-webkit-scrollbar-thumb {
    height: 58%;
    background-color: #b89b5e;
    border-radius: 15px; }

.experience__box-item-title {
  padding-left: 50px;
  font-size: 26px;
  color: #b89b5e;
  margin-bottom: 40px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase; }
  @media screen and (max-width: 1200px) {
    .experience__box-item-title {
      font-size: 32px; } }
  @media screen and (max-width: 992px) {
    .experience__box-item-title {
      font-size: 25px; } }
  @media screen and (max-width: lg) {
    .experience__box-item-title {
      font-size: 25px; } }
  @media screen and (max-width: 768px) {
    .experience__box-item-title {
      padding-left: 0;
      text-align: center;
      margin-bottom: 20px; } }
  @media screen and (max-width: md) {
    .experience__box-item-title {
      padding-left: 0;
      text-align: center;
      margin-bottom: 20px; } }

.experience__box-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  margin-bottom: 10px; }
  @media screen and (max-width: 1200px) {
    .experience__box-item {
      padding: 0 15px; } }
  @media screen and (max-width: 768px) {
    .experience__box-item {
      display: block; } }
  @media screen and (max-width: md) {
    .experience__box-item {
      display: block; } }
  @media screen and (max-width: 576px) {
    .experience__box-item {
      padding: 0 20px; } }
  @media screen and (max-width: sm) {
    .experience__box-item {
      padding: 0 20px; } }

.experience__box-item-img {
  margin-right: 30px; }
  @media screen and (max-width: 1200px) {
    .experience__box-item-img {
      margin-right: 15px; } }
  @media screen and (max-width: 768px) {
    .experience__box-item-img {
      margin-right: 0;
      margin-bottom: 10px;
      text-align: center; } }
  @media screen and (max-width: md) {
    .experience__box-item-img {
      margin-right: 0;
      margin-bottom: 10px;
      text-align: center; } }

@media screen and (max-width: 768px) {
  .experience__box-img {
    width: 55px; } }

@media screen and (max-width: md) {
  .experience__box-img {
    width: 55px; } }

@media screen and (max-width: 768px) {
  .experience__box-item-inner {
    text-align: center; } }

@media screen and (max-width: md) {
  .experience__box-item-inner {
    text-align: center; } }

.experience__box-item-inner-title {
  color: #fff;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  display: block;
  margin-bottom: 10px; }
  @media screen and (max-width: 1200px) {
    .experience__box-item-inner-title {
      font-size: 21.5px; } }
  @media screen and (max-width: 992px) {
    .experience__box-item-inner-title {
      font-size: 20px; } }
  @media screen and (max-width: lg) {
    .experience__box-item-inner-title {
      font-size: 20px; } }
  @media screen and (max-width: 768px) {
    .experience__box-item-inner-title {
      font-size: 18px; } }
  @media screen and (max-width: md) {
    .experience__box-item-inner-title {
      font-size: 18px; } }

.experience__box-item-inner-text {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300; }
  @media screen and (max-width: 1200px) {
    .experience__box-item-inner-text {
      font-size: 15px;
      letter-spacing: -.1px; } }
  @media screen and (max-width: 992px) {
    .experience__box-item-inner-text {
      font-size: 14px; } }
  @media screen and (max-width: lg) {
    .experience__box-item-inner-text {
      font-size: 14px; } }

.ratings {
  background-image: url("../img/ratings.jpg");
  background-position: center center;
  background-size: cover;
  height: 736px;
  padding: 106px 0; }
  @media screen and (max-width: 1200px) {
    .ratings {
      height: 580px;
      padding-top: 45px;
      padding-bottom: 45px; } }
  @media screen and (max-width: 507px) {
    .ratings {
      height: 750px;
      padding-top: 30px;
      padding-bottom: 30px; } }
  .ratings .section-title::after {
    display: none; }
  .ratings .section-pretitle::after {
    width: 30px;
    height: 1px;
    top: 50%;
    left: 40%; }
    @media screen and (max-width: 576px) {
      .ratings .section-pretitle::after {
        left: 50%;
        top: -20%; } }
    @media screen and (max-width: sm) {
      .ratings .section-pretitle::after {
        left: 50%;
        top: -20%; } }

.ratings__box-wrap {
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .ratings__box-wrap {
      justify-content: center; } }
  @media screen and (max-width: md) {
    .ratings__box-wrap {
      justify-content: center; } }
  @media screen and (max-width: 507px) {
    .ratings__box-wrap {
      display: block; } }

.ratings__box {
  background-color: #b89b5e;
  width: 47%;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: center;
  padding: 24px 20px 72px 20px;
  position: relative;
  transition: 350ms ease;
  cursor: pointer; }
  .ratings__box:nth-child(even) {
    margin-right: 0; }
    @media screen and (max-width: 507px) {
      .ratings__box:nth-child(even) {
        margin: auto;
        margin-bottom: 15px; } }
  @media screen and (max-width: 1200px) {
    .ratings__box {
      margin-right: 3%;
      margin-bottom: 3%;
      padding: 24px 20px 40px 20px; } }
  @media screen and (max-width: 992px) {
    .ratings__box {
      width: 80%;
      padding: 15px 20px 15px 20px;
      margin-right: 0; } }
  @media screen and (max-width: lg) {
    .ratings__box {
      width: 80%;
      padding: 15px 20px 15px 20px;
      margin-right: 0; } }
  @media screen and (max-width: 768px) {
    .ratings__box {
      margin-right: 3%;
      width: 40%; } }
  @media screen and (max-width: md) {
    .ratings__box {
      margin-right: 3%;
      width: 40%; } }
  @media screen and (max-width: 507px) {
    .ratings__box {
      margin: auto;
      width: 60%;
      margin-bottom: 15px;
      padding: 5px 20px 5px 20px; } }
  .ratings__box:hover .ratings__box-num {
    color: #b89b5e;
    transition: 350ms ease; }
    .ratings__box:hover .ratings__box-num::after {
      background-color: #191c23; }
  .ratings__box:hover .ratings__box-text {
    color: #b89b5e;
    transition: 350ms ease; }
  .ratings__box:hover .ratings__overlay {
    width: 100%;
    transition: 350ms ease; }

.ratings__box-num {
  display: block;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 39px;
  font-family: "Lato", sans-serif;
  color: #fff;
  position: relative;
  z-index: 2;
  transition: 350ms ease; }
  @media screen and (max-width: 1200px) {
    .ratings__box-num {
      font-size: 30px;
      margin-bottom: 50px; } }
  @media screen and (max-width: 992px) {
    .ratings__box-num {
      font-size: 24px;
      margin-bottom: 13px; } }
  @media screen and (max-width: lg) {
    .ratings__box-num {
      font-size: 24px;
      margin-bottom: 13px; } }
  .ratings__box-num::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    background-color: #fff; }
    @media screen and (max-width: 992px) {
      .ratings__box-num::after {
        bottom: -7px; } }
    @media screen and (max-width: lg) {
      .ratings__box-num::after {
        bottom: -7px; } }

.ratings__box-text {
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  position: relative;
  z-index: 2;
  transition: 350ms ease; }
  @media screen and (max-width: 1200px) {
    .ratings__box-text {
      font-size: 18px; } }
  @media screen and (max-width: 992px) {
    .ratings__box-text {
      font-size: 15px; } }
  @media screen and (max-width: lg) {
    .ratings__box-text {
      font-size: 15px; } }
  @media screen and (max-width: 507px) {
    .ratings__box-text {
      line-height: 1.2; } }

.ratings__overlay {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff; }

.ratings__content-wrap {
  display: flex;
  justify-content: right;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .ratings__content-wrap {
      order: -1;
      margin-bottom: 30px; } }
  @media screen and (max-width: md) {
    .ratings__content-wrap {
      order: -1;
      margin-bottom: 30px; } }
  @media screen and (max-width: 576px) {
    .ratings__content-wrap {
      justify-content: center;
      text-align: center; } }
  @media screen and (max-width: sm) {
    .ratings__content-wrap {
      justify-content: center;
      text-align: center; } }

.ratings__content {
  padding-left: 120px; }
  @media screen and (max-width: 1440px) {
    .ratings__content {
      padding-left: 60px; } }
  @media screen and (max-width: 992px) {
    .ratings__content {
      padding-left: 0; } }
  @media screen and (max-width: lg) {
    .ratings__content {
      padding-left: 0; } }

@media screen and (max-width: 1200px) {
  .ratings__content-pretitle {
    font-size: 12px; } }

.ratings__content-title {
  margin-bottom: 25px;
  color: #b89b5e; }
  @media screen and (max-width: 768px) {
    .ratings__content-title {
      margin-bottom: 15px; } }
  @media screen and (max-width: md) {
    .ratings__content-title {
      margin-bottom: 15px; } }

.ratings__content-text {
  line-height: 2;
  margin-bottom: 55px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  letter-spacing: .1px;
  font-size: 16px; }
  @media screen and (max-width: 1200px) {
    .ratings__content-text br {
      display: none; } }
  @media screen and (max-width: 1200px) {
    .ratings__content-text {
      letter-spacing: -.7px;
      font-size: 15px; } }
  @media screen and (max-width: 768px) {
    .ratings__content-text {
      line-height: 1.5;
      margin-bottom: 30px; } }
  @media screen and (max-width: md) {
    .ratings__content-text {
      line-height: 1.5;
      margin-bottom: 30px; } }

.ratings__content-num {
  background-color: #b89b5e;
  padding: 15px 31px;
  font-size: 23px;
  color: #fff;
  transition: 350ms ease; }
  @media screen and (max-width: 1200px) {
    .ratings__content-num {
      font-size: 18px; } }
  @media screen and (max-width: 992px) {
    .ratings__content-num {
      font-size: 17px;
      padding: 10px 16px; } }
  @media screen and (max-width: lg) {
    .ratings__content-num {
      font-size: 17px;
      padding: 10px 16px; } }
  @media screen and (max-width: 768px) {
    .ratings__content-num {
      font-size: 15px; } }
  @media screen and (max-width: md) {
    .ratings__content-num {
      font-size: 15px; } }
  .ratings__content-num:hover {
    color: #000;
    background-color: #fff;
    transition: 350ms ease; }

.accordion {
  background-image: url("../img/accordion-bg.jpg");
  background-position: center center;
  background-size: cover;
  height: 1100px;
  padding: 125px 0; }
  @media screen and (max-width: 1200px) {
    .accordion {
      height: 1000px; } }
  @media screen and (max-width: 992px) {
    .accordion {
      padding: 70px 0;
      height: 900px; } }
  @media screen and (max-width: lg) {
    .accordion {
      padding: 70px 0;
      height: 900px; } }
  @media screen and (max-width: 768px) {
    .accordion {
      height: 950px;
      padding: 70px 0 20px 0; } }
  @media screen and (max-width: md) {
    .accordion {
      height: 950px;
      padding: 70px 0 20px 0; } }

.accordion__pretitle {
  text-align: center; }
  @media screen and (max-width: 992px) {
    .accordion__pretitle {
      font-size: 13px; } }
  @media screen and (max-width: lg) {
    .accordion__pretitle {
      font-size: 13px; } }

.accordion__title {
  text-align: center;
  margin-bottom: 253px; }
  @media screen and (max-width: 992px) {
    .accordion__title {
      margin-bottom: 150px; } }
  @media screen and (max-width: lg) {
    .accordion__title {
      margin-bottom: 150px; } }
  @media screen and (max-width: 768px) {
    .accordion__title {
      margin-bottom: 80px; } }
  @media screen and (max-width: md) {
    .accordion__title {
      margin-bottom: 80px; } }

.accordion__wraper {
  background-color: white;
  display: flex;
  height: 586px; }
  @media screen and (max-width: 1200px) {
    .accordion__wraper {
      display: block;
      height: 500px; } }
  @media screen and (max-width: 768px) {
    .accordion__wraper {
      background-color: transparent;
      height: 680px; } }
  @media screen and (max-width: md) {
    .accordion__wraper {
      background-color: transparent;
      height: 680px; } }

.accordion__wraper-img {
  margin-top: -124px;
  margin-left: 154px;
  width: 470px;
  max-width: 100%; }
  @media screen and (max-width: 1200px) {
    .accordion__wraper-img {
      margin-left: 50px;
      width: 400px;
      height: 500px;
      top: -80px;
      position: relative;
      z-index: 1; } }
  @media screen and (max-width: 992px) {
    .accordion__wraper-img {
      margin: auto;
      height: 350px; } }
  @media screen and (max-width: lg) {
    .accordion__wraper-img {
      margin: auto;
      height: 350px; } }
  @media screen and (max-width: 768px) {
    .accordion__wraper-img {
      top: 0;
      height: 250px;
      margin-bottom: 20px; } }
  @media screen and (max-width: md) {
    .accordion__wraper-img {
      top: 0;
      height: 250px;
      margin-bottom: 20px; } }

.accordion__img {
  height: 610px;
  object-fit: cover;
  width: 100%; }
  @media screen and (max-width: 1200px) {
    .accordion__img {
      height: 100%;
      object-fit: cover; } }

.accordion__box {
  padding: 40px 60px; }
  @media screen and (max-width: 1200px) {
    .accordion__box {
      position: relative;
      top: -400px;
      width: 580px;
      margin-left: auto;
      padding: 20px 40px;
      background-color: #fff;
      z-index: 2; } }
  @media screen and (max-width: 992px) {
    .accordion__box {
      top: -200px;
      margin: auto; } }
  @media screen and (max-width: lg) {
    .accordion__box {
      top: -200px;
      margin: auto; } }
  @media screen and (max-width: 768px) {
    .accordion__box {
      top: 0;
      width: 100%; } }
  @media screen and (max-width: md) {
    .accordion__box {
      top: 0;
      width: 100%; } }
  @media screen and (max-width: 576px) {
    .accordion__box {
      padding: 20px 5px; } }
  @media screen and (max-width: sm) {
    .accordion__box {
      padding: 20px 5px; } }

.accordion__box-title {
  margin-bottom: 40px;
  color: #343a40;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 25px; }
  @media screen and (max-width: 1221px) {
    .accordion__box-title {
      font-size: 22px;
      letter-spacing: -1px; } }
  @media screen and (max-width: 1200px) {
    .accordion__box-title {
      text-align: right;
      margin-bottom: 15px; } }
  @media screen and (max-width: 992px) {
    .accordion__box-title {
      text-align: center;
      font-size: 20px; } }
  @media screen and (max-width: lg) {
    .accordion__box-title {
      text-align: center;
      font-size: 20px; } }
  .accordion__box-title span {
    color: #b89b5e; }

.accordion__box-inner-wrap {
  max-width: 531px;
  width: 100%; }

.accordion__box-inner {
  border: 1px solid black;
  border-bottom: none; }
  .accordion__box-inner:nth-child(4) {
    border-bottom: 1px solid black; }

.accordion__box-head {
  cursor: pointer;
  position: relative;
  max-width: 531px;
  width: 100%; }
  @media screen and (max-width: 1200px) {
    .accordion__box-head {
      width: 500px; } }
  @media screen and (max-width: 768px) {
    .accordion__box-head {
      width: 100%; } }
  @media screen and (max-width: md) {
    .accordion__box-head {
      width: 100%; } }
  .accordion__box-head:hover {
    background-color: #191c23;
    transition: 350ms ease; }
    .accordion__box-head:hover .accordion__box-head-title {
      color: #b89b5e;
      transition: 350ms ease; }
    .accordion__box-head:hover .accordion__box-head-arrow::before {
      color: #b89b5e;
      transition: 350ms ease; }

.accordion__box-head.active .accordion__box-head-arrow {
  transform: translateY(-50%) rotate(180deg);
  transition: 350ms ease; }

.accordion__box-head-title {
  font-size: 20px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #343a40;
  display: block;
  padding: 10px 50px 10px 20px;
  transition: 350ms ease; }
  @media screen and (max-width: 992px) {
    .accordion__box-head-title {
      font-size: 18px; } }
  @media screen and (max-width: lg) {
    .accordion__box-head-title {
      font-size: 18px; } }
  @media screen and (max-width: 768px) {
    .accordion__box-head-title {
      font-size: 16px; } }
  @media screen and (max-width: md) {
    .accordion__box-head-title {
      font-size: 16px; } }

.accordion__box-head-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  transition: 350ms ease; }
  .accordion__box-head-arrow::before {
    content: '\f062';
    font-family: "FontAwesome";
    font-size: 20px;
    color: #343a40;
    transition: 350ms ease; }

.accordion__box-body {
  padding: 25px 20px;
  border-top: 1px solid black;
  display: none;
  max-width: 531px;
  width: 100%; }
  @media screen and (max-width: 1200px) {
    .accordion__box-body {
      width: 500px; } }
  @media screen and (max-width: 992px) {
    .accordion__box-body {
      padding: 15px; } }
  @media screen and (max-width: lg) {
    .accordion__box-body {
      padding: 15px; } }
  @media screen and (max-width: 768px) {
    .accordion__box-body {
      width: 100%;
      padding: 10px; } }
  @media screen and (max-width: md) {
    .accordion__box-body {
      width: 100%;
      padding: 10px; } }

.accordion__box-body-text {
  font-size: 16px;
  line-height: 2;
  font-family: "Open Sans", sans-serif;
  color: #686565;
  margin-bottom: 2px; }
  @media screen and (max-width: 992px) {
    .accordion__box-body-text {
      font-size: 14px;
      line-height: 1.8; } }
  @media screen and (max-width: lg) {
    .accordion__box-body-text {
      font-size: 14px;
      line-height: 1.8; } }
  @media screen and (max-width: 768px) {
    .accordion__box-body-text {
      line-height: 1.4;
      font-size: 13px; } }
  @media screen and (max-width: md) {
    .accordion__box-body-text {
      line-height: 1.4;
      font-size: 13px; } }
  @media screen and (max-width: 1320px) {
    .accordion__box-body-text br {
      display: none; } }

.quest {
  background-color: #fff;
  padding-top: 115px;
  padding-bottom: 90px; }
  @media screen and (max-width: 992px) {
    .quest {
      padding-top: 70px;
      padding-bottom: 70px; } }
  @media screen and (max-width: lg) {
    .quest {
      padding-top: 70px;
      padding-bottom: 70px; } }

.quest__title {
  text-align: center;
  margin-bottom: 100px;
  color: #191c23; }
  .quest__title::after {
    top: 110px; }
    @media screen and (max-width: 576px) {
      .quest__title::after {
        top: 87px; } }
    @media screen and (max-width: sm) {
      .quest__title::after {
        top: 87px; } }
  @media screen and (max-width: 992px) {
    .quest__title {
      margin-bottom: 35px; } }
  @media screen and (max-width: lg) {
    .quest__title {
      margin-bottom: 35px; } }

.quest__wrap {
  padding-top: 40px; }
  @media screen and (max-width: 992px) {
    .quest__wrap {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #b89b5e; } }
  @media screen and (max-width: lg) {
    .quest__wrap {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #b89b5e; } }
  @media screen and (max-width: 576px) {
    .quest__wrap {
      display: block;
      margin: 0 20px; } }
  @media screen and (max-width: sm) {
    .quest__wrap {
      display: block;
      margin: 0 20px; } }

.quest__box-up-item {
  margin-bottom: 15px; }
  @media screen and (max-width: 992px) {
    .quest__box-up-item {
      width: 48%;
      margin-right: 2%; } }
  @media screen and (max-width: lg) {
    .quest__box-up-item {
      width: 48%;
      margin-right: 2%; } }
  @media screen and (max-width: 576px) {
    .quest__box-up-item {
      width: 100%;
      margin: auto;
      text-align: center; } }
  @media screen and (max-width: sm) {
    .quest__box-up-item {
      width: 100%;
      margin: auto;
      text-align: center; } }

.quest__box-up-item-title {
  font-size: 25px;
  margin-bottom: 18px;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #191c23; }
  @media screen and (max-width: 992px) {
    .quest__box-up-item-title {
      font-size: 20px;
      margin-bottom: 20px; } }
  @media screen and (max-width: lg) {
    .quest__box-up-item-title {
      font-size: 20px;
      margin-bottom: 20px; } }

.quest__box-up-item-text {
  font-size: 17px;
  margin-bottom: 25px;
  font-family: "Lato", sans-serif;
  color: #14264f; }
  @media screen and (max-width: 992px) {
    .quest__box-up-item-text {
      font-size: 15px; } }
  @media screen and (max-width: lg) {
    .quest__box-up-item-text {
      font-size: 15px; } }
  @media screen and (max-width: 1200px) {
    .quest__box-up-item-text br {
      display: none; } }

.quest__box-up-item-time {
  display: block;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  color: #14264f;
  line-height: 2; }
  @media screen and (max-width: 992px) {
    .quest__box-up-item-time {
      font-size: 16px; } }
  @media screen and (max-width: lg) {
    .quest__box-up-item-time {
      font-size: 16px; } }

/*.quest__box-up-item-close{
    display: block;
    font-size: 17px;
    font-weight: 700;
    line-height: 2;
    font-family: $font-main;
    width: 100%;
    border-bottom: 1px solid $brown;
    padding-bottom: 15px;

    @include mq(lg){
        font-size: 16px;
        border: none;
    }
}*/
.quest__box-down-item {
  margin-top: 25px; }
  @media screen and (max-width: 992px) {
    .quest__box-down-item {
      width: 48%;
      margin-top: 0;
      margin-left: 2%; } }
  @media screen and (max-width: lg) {
    .quest__box-down-item {
      width: 48%;
      margin-top: 0;
      margin-left: 2%; } }
  @media screen and (max-width: 576px) {
    .quest__box-down-item {
      width: 100%;
      text-align: center; } }
  @media screen and (max-width: sm) {
    .quest__box-down-item {
      width: 100%;
      text-align: center; } }

.quest__box-down-item-title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  color: #191c23; }

.quest__box-down-item-cont {
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  color: #14264f;
  font-weight: 300; }
  @media screen and (max-width: 992px) {
    .quest__box-down-item-cont {
      font-size: 15px; } }
  @media screen and (max-width: lg) {
    .quest__box-down-item-cont {
      font-size: 15px; } }

@media screen and (max-width: 992px) {
  .quest__contact-wrap {
    margin-top: 25px; } }

@media screen and (max-width: lg) {
  .quest__contact-wrap {
    margin-top: 25px; } }

.quest__contact-box input {
  padding: 8px 5px 8px 15px;
  margin-bottom: 20px;
  border: 1px solid silver;
  border-radius: 3px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #b89b5e;
  background-color: #191c23;
  font-weight: 500; }
  @media screen and (max-width: 576px) {
    .quest__contact-box input {
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: 300; } }
  @media screen and (max-width: sm) {
    .quest__contact-box input {
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: 300; } }
  .quest__contact-box input::placeholder {
    font-style: italic;
    color: #fff;
    font-weight: 300;
    border-radius: 2px; }
    @media screen and (max-width: 576px) {
      .quest__contact-box input::placeholder {
        font-size: 13px; } }
    @media screen and (max-width: sm) {
      .quest__contact-box input::placeholder {
        font-size: 13px; } }

.quest__contact-box textarea {
  padding: 8px 5px 8px 15px;
  border: 1px solid silver;
  border-radius: 3px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #b89b5e;
  background-color: #191c23;
  font-weight: 500; }
  @media screen and (max-width: 576px) {
    .quest__contact-box textarea {
      font-size: 13px;
      font-weight: 300; } }
  @media screen and (max-width: sm) {
    .quest__contact-box textarea {
      font-size: 13px;
      font-weight: 300; } }
  .quest__contact-box textarea::placeholder {
    font-style: italic;
    color: #fff;
    font-weight: 300; }
    @media screen and (max-width: 576px) {
      .quest__contact-box textarea::placeholder {
        font-size: 13px; } }
    @media screen and (max-width: sm) {
      .quest__contact-box textarea::placeholder {
        font-size: 13px; } }

.quest__contact-box-title {
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #191c23;
  width: 47%; }
  .quest__contact-box-title:nth-of-type(even) {
    padding-left: 35px; }
  .quest__contact-box-title:nth-of-type(6) {
    padding-left: 0; }
  @media screen and (max-width: 576px) {
    .quest__contact-box-title {
      font-size: 15px;
      font-weight: 300; } }
  @media screen and (max-width: sm) {
    .quest__contact-box-title {
      font-size: 15px;
      font-weight: 300; } }

.quest__contact-box-name .quest__contact-box-first-name {
  width: 47%;
  margin-right: 5%; }
  @media screen and (max-width: 576px) {
    .quest__contact-box-name .quest__contact-box-first-name {
      margin-right: 3%; } }
  @media screen and (max-width: sm) {
    .quest__contact-box-name .quest__contact-box-first-name {
      margin-right: 3%; } }

.quest__contact-box-name .quest__contact-box-last-name {
  width: 47%; }

.quest__contact-box-email .quest__contact-box-address {
  width: 47%;
  margin-right: 5%; }
  @media screen and (max-width: 576px) {
    .quest__contact-box-email .quest__contact-box-address {
      margin-right: 3%; } }
  @media screen and (max-width: sm) {
    .quest__contact-box-email .quest__contact-box-address {
      margin-right: 3%; } }

.quest__contact-box-email .quest__contact-box-confirm {
  width: 47%; }

.quest__contact-box-subject .quest__contact-box-subject-subject {
  width: 100%; }

.quest__contact-box-message {
  margin-bottom: 35px; }
  @media screen and (max-width: 576px) {
    .quest__contact-box-message {
      margin-bottom: 20px; } }
  @media screen and (max-width: sm) {
    .quest__contact-box-message {
      margin-bottom: 20px; } }
  .quest__contact-box-message .quest__box-message-message {
    width: 100%; }

.quest__contact-box-log {
  padding: 15px 15px;
  background: #191c23;
  border-radius: 3px;
  transition: 350ms ease;
  cursor: pointer;
  border: 3px solid #b89b5e;
  font-weight: 600; }
  @media screen and (max-width: 576px) {
    .quest__contact-box-log {
      padding: 10px 10px;
      border-radius: 2px;
      font-weight: 300; } }
  @media screen and (max-width: sm) {
    .quest__contact-box-log {
      padding: 10px 10px;
      border-radius: 2px;
      font-weight: 300; } }
  .quest__contact-box-log:hover {
    background-color: #b89b5e;
    transition: 350ms ease;
    border: 3px solid #191c23; }
    .quest__contact-box-log:hover span {
      color: #191c23;
      transition: 350ms ease; }
  .quest__contact-box-log span {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    transition: 350ms ease; }
    @media screen and (max-width: 576px) {
      .quest__contact-box-log span {
        font-size: 14px;
        font-weight: 300; } }
    @media screen and (max-width: sm) {
      .quest__contact-box-log span {
        font-size: 14px;
        font-weight: 300; } }

.apply {
  background-color: #b89b5e;
  padding-top: 115px;
  padding-bottom: 90px; }
  @media screen and (max-width: 992px) {
    .apply {
      padding-top: 70px;
      padding-bottom: 70px; } }
  @media screen and (max-width: lg) {
    .apply {
      padding-top: 70px;
      padding-bottom: 70px; } }
  @media screen and (max-width: 768px) {
    .apply {
      padding-top: 35px;
      padding-bottom: 35px; } }
  @media screen and (max-width: md) {
    .apply {
      padding-top: 35px;
      padding-bottom: 35px; } }

.apply__title {
  text-align: center;
  margin-bottom: 100px;
  color: #191c23;
  font-family: "Lato", sans-serif; }
  @media screen and (max-width: 992px) {
    .apply__title {
      margin-bottom: 35px; } }
  @media screen and (max-width: lg) {
    .apply__title {
      margin-bottom: 35px; } }
  @media screen and (max-width: 768px) {
    .apply__title {
      font-size: 28px; } }
  @media screen and (max-width: md) {
    .apply__title {
      font-size: 28px; } }
  @media screen and (max-width: 576px) {
    .apply__title {
      font-size: 25px; } }
  @media screen and (max-width: sm) {
    .apply__title {
      font-size: 25px; } }

.apply__wrap {
  padding-top: 40px; }
  @media screen and (max-width: 992px) {
    .apply__wrap {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #b89b5e; } }
  @media screen and (max-width: lg) {
    .apply__wrap {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #b89b5e; } }
  @media screen and (max-width: 576px) {
    .apply__wrap {
      display: block;
      margin: 0 20px; } }
  @media screen and (max-width: sm) {
    .apply__wrap {
      display: block;
      margin: 0 20px; } }

.apply__address-item {
  margin-bottom: 15px; }
  @media screen and (max-width: 576px) {
    .apply__address-item {
      width: 100%;
      margin: auto;
      text-align: center; } }
  @media screen and (max-width: sm) {
    .apply__address-item {
      width: 100%;
      margin: auto;
      text-align: center; } }

.apply__address-item-text {
  font-size: 17px;
  margin-bottom: 25px;
  font-family: "Sacramento", cursive;
  color: #191c23; }
  @media screen and (max-width: 992px) {
    .apply__address-item-text {
      font-size: 15px; } }
  @media screen and (max-width: lg) {
    .apply__address-item-text {
      font-size: 15px; } }
  @media screen and (max-width: 700px) {
    .apply__address-item-text {
      font-family: "Patrick Hand", cursive; } }
  @media screen and (max-width: 1200px) {
    .apply__address-item-text br {
      display: none; } }

@media screen and (max-width: 992px) {
  .apply__contact-wrap {
    margin-top: 25px;
    order: 2; } }

@media screen and (max-width: lg) {
  .apply__contact-wrap {
    margin-top: 25px;
    order: 2; } }

.apply__contact-box input {
  padding: 8px 5px 8px 15px;
  margin-bottom: 20px;
  border: 1.8px solid #fff;
  border-radius: 3px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #b89b5e;
  background-color: #191c23;
  font-weight: 600; }
  .apply__contact-box input:focus {
    background-color: #191c23;
    color: #b89b5e; }
  @media screen and (max-width: 576px) {
    .apply__contact-box input {
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: 300; } }
  @media screen and (max-width: sm) {
    .apply__contact-box input {
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: 300; } }
  .apply__contact-box input::placeholder {
    font-style: italic;
    color: #b89b5e;
    font-weight: 300;
    border-radius: 2px; }
    @media screen and (max-width: 576px) {
      .apply__contact-box input::placeholder {
        font-size: 13px; } }
    @media screen and (max-width: sm) {
      .apply__contact-box input::placeholder {
        font-size: 13px; } }

.apply__contact-box textarea {
  padding: 8px 5px 8px 15px;
  border: 1.8px solid #fff;
  border-radius: 3px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #b89b5e;
  background-color: #191c23;
  font-weight: 500;
  height: 200px; }
  @media screen and (max-width: 576px) {
    .apply__contact-box textarea {
      font-size: 13px;
      font-weight: 300; } }
  @media screen and (max-width: sm) {
    .apply__contact-box textarea {
      font-size: 13px;
      font-weight: 300; } }
  .apply__contact-box textarea::placeholder {
    font-style: italic;
    color: #b89b5e;
    font-weight: 300; }
    @media screen and (max-width: 576px) {
      .apply__contact-box textarea::placeholder {
        font-size: 13px; } }
    @media screen and (max-width: sm) {
      .apply__contact-box textarea::placeholder {
        font-size: 13px; } }

.apply__contact-box-title {
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #191c23;
  width: 47%; }
  .apply__contact-box-title:nth-of-type(even) {
    padding-left: 35px; }
  .apply__contact-box-title:nth-of-type(6) {
    padding-left: 0; }
  @media screen and (max-width: 576px) {
    .apply__contact-box-title {
      font-size: 15px;
      font-weight: 300; } }
  @media screen and (max-width: sm) {
    .apply__contact-box-title {
      font-size: 15px;
      font-weight: 300; } }

.apply__contact-box-name .apply__contact-box-first-name {
  width: 47%;
  margin-right: 5%; }
  @media screen and (max-width: 576px) {
    .apply__contact-box-name .apply__contact-box-first-name {
      margin-right: 3%; } }
  @media screen and (max-width: sm) {
    .apply__contact-box-name .apply__contact-box-first-name {
      margin-right: 3%; } }

.apply__contact-box-name .apply__contact-box-last-name {
  width: 47%; }

.apply__contact-box-email .apply__contact-box-address {
  width: 47%;
  margin-right: 5%; }
  @media screen and (max-width: 576px) {
    .apply__contact-box-email .apply__contact-box-address {
      margin-right: 3%; } }
  @media screen and (max-width: sm) {
    .apply__contact-box-email .apply__contact-box-address {
      margin-right: 3%; } }

.apply__contact-box-email .apply__contact-box-confirm {
  width: 47%; }

.apply__contact-box-subject .apply__contact-box-subject-subject {
  width: 100%; }

.apply__contact-box-message {
  margin-bottom: 35px; }
  @media screen and (max-width: 576px) {
    .apply__contact-box-message {
      margin-bottom: 20px; } }
  @media screen and (max-width: sm) {
    .apply__contact-box-message {
      margin-bottom: 20px; } }
  .apply__contact-box-message .apply__box-message-message {
    width: 100%; }

.apply__contact-box-log {
  padding: 15px 15px;
  background: #191c23;
  border-radius: 3px;
  transition: 350ms ease;
  cursor: pointer;
  border: 1.8px solid #fff;
  font-weight: 600; }
  @media screen and (max-width: 576px) {
    .apply__contact-box-log {
      padding: 10px 10px;
      border-radius: 2px;
      font-weight: 300; } }
  @media screen and (max-width: sm) {
    .apply__contact-box-log {
      padding: 10px 10px;
      border-radius: 2px;
      font-weight: 300; } }
  .apply__contact-box-log:hover {
    background-color: #b89b5e;
    transition: 350ms ease;
    border: 1.8px solid #191c23; }
    .apply__contact-box-log:hover span {
      color: #191c23;
      transition: 350ms ease; }
  .apply__contact-box-log span {
    color: #b89b5e;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
    transition: 350ms ease; }
    @media screen and (max-width: 576px) {
      .apply__contact-box-log span {
        font-size: 14px;
        font-weight: 300; } }
    @media screen and (max-width: sm) {
      .apply__contact-box-log span {
        font-size: 14px;
        font-weight: 300; } }

.box__text {
  background-image: url("../img/ratings.jpg");
  background-position: center center;
  background-size: cover;
  height: 450px;
  padding: 106px 0;
  /*.section-title{
        &::after{
            display: none;
        }
    }
    .section-pretitle{
        &::after{
            width: 30px;    
            height: 1px;
            top: 50%;
            left: 40%;
            @include mq(sm){
                left: 50%;
                top: -20%;
            }
        }
    }*/ }
  @media screen and (max-width: 1200px) {
    .box__text {
      height: 960px;
      padding-top: 45px;
      padding-bottom: 45px; } }
  @media screen and (max-width: 507px) {
    .box__text {
      height: 750px;
      padding-top: 30px;
      padding-bottom: 30px; } }

.box-text__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 39px;
  font-family: "Sacramento", cursive;
  color: #fff; }
  @media screen and (max-width: 1325px) {
    .box-text__title {
      margin-bottom: 25px; } }
  @media screen and (max-width: 992px) {
    .box-text__title {
      font-size: 30px; } }
  @media screen and (max-width: lg) {
    .box-text__title {
      font-size: 30px; } }

.box-text__pretitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 39px;
  font-family: "Sacramento", cursive;
  color: #fff;
  display: block; }
  @media screen and (max-width: 1325px) {
    .box-text__pretitle {
      margin-bottom: 25px; } }
  @media screen and (max-width: 992px) {
    .box-text__pretitle {
      font-size: 15px; } }
  @media screen and (max-width: lg) {
    .box-text__pretitle {
      font-size: 15px; } }

.box-text__text-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 39px;
  font-family: "Sacramento", cursive;
  color: #fff;
  display: block; }
  @media screen and (max-width: 1325px) {
    .box-text__text-title {
      margin-bottom: 25px; } }
  @media screen and (max-width: 992px) {
    .box-text__text-title {
      font-size: 15px; } }
  @media screen and (max-width: lg) {
    .box-text__text-title {
      font-size: 15px; } }

.box-text__text-text {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 39px;
  font-family: "Sacramento", cursive;
  color: #fff; }
  @media screen and (max-width: 1325px) {
    .box-text__text-text {
      margin-bottom: 25px; } }
  @media screen and (max-width: 992px) {
    .box-text__text-text {
      font-size: 15px; } }
  @media screen and (max-width: lg) {
    .box-text__text-text {
      font-size: 15px; } }

.box-text__text-name {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 39px;
  font-family: "Sacramento", cursive;
  color: #fff; }
  @media screen and (max-width: 1325px) {
    .box-text__text-name {
      margin-bottom: 25px; } }
  @media screen and (max-width: 992px) {
    .box-text__text-name {
      font-size: 15px; } }
  @media screen and (max-width: lg) {
    .box-text__text-name {
      font-size: 15px; } }

.box__title {
  margin-bottom: 90px;
  text-align: center; }
  @media screen and (max-width: 992px) {
    .box__title {
      margin-bottom: 70px; } }
  @media screen and (max-width: lg) {
    .box__title {
      margin-bottom: 70px; } }
  @media screen and (max-width: 576px) {
    .box__title {
      margin-bottom: 50px; } }
  @media screen and (max-width: sm) {
    .box__title {
      margin-bottom: 50px; } }

@media screen and (max-width: 992px) {
  .box__pretitle {
    font-size: 13px; } }

@media screen and (max-width: lg) {
  .box__pretitle {
    font-size: 13px; } }

.box__link {
  padding: 0 25px; }

.box__text-link {
  font-size: 17px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  color: #fff;
  margin-bottom: 10px;
  display: block;
  padding-bottom: 40px; }

.box__link-link {
  font-size: 25px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  color: #b89b5e;
  margin-bottom: 2px;
  display: block;
  text-decoration: underline; }
  .box__link-link:hover {
    text-decoration: underline #b89b5e;
    color: #b89b5e; }
  .box__link-link:focus {
    color: #b89b5e; }
