/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.footer{
    background-image: url('../img/footer-bg.jpg');
    background-position: center center;
    background-size: cover;
    height: 511px;

    @include mq(1316px){
        height: 538px;
    }
    @include mq(xl){
        height: 693px;
    }
    @include mq(lg){
       height: 678px;
    }
    @include mq(md){
       height: 759px;
    }
    @include mq(468px){
        height: 853px;
    }
}
.footer__container{

}
.footer__wrap{
    padding-top: 70px;
    padding-bottom: 25px;

    @include mq(lg){
       padding-top: 45px;
       padding-bottom: 35px;
    }
    @include mq(md){
        padding-bottom: 20px;
    }
}
.footer__box-wrap{
    @include mq(lg){
       
    }margin-bottom: 15px;
}
.footer__box-content{
    @include mq(lg){
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}
.footer__box-content-logo{
    margin-bottom: 21px;

    @include mq(xl){
        text-align: center;
    }
}
.footer__box-content-text{
    color: white;
    font-size: 17px;
    margin-bottom: 25px;

    @include mq(xl){
        text-align: center;
    }
    @include mq(lg){
       font-size: 15px;
       margin-bottom: 10px;
    }

    br{
        @include mq(xl){
            display: none;
        }
    }
}
.footer__area-wrap{

}
.footer__area-content{
    @include mq(md){
       margin-bottom: 5px;
    }
}
.footer__area-content-title{
    color: $white;
    font-size: 24px;
    font-weight: 400;
    font-family: $font-second;
    display: block;
    margin-bottom: 65px;
    border-bottom: 1px solid $brown;
    padding-bottom: 22px;

    @include mq(xl){
        margin-bottom: 30px;
    }
    @include mq(md){
       padding-bottom: 10px;
       margin-bottom: 15px;
       text-align: center;
    }
}
.footer__area-content-box{
    display: flex;
    flex-wrap: wrap;
}
.footer__area-content-box-text{
    width: 50%;
    display: block;
    color: $white;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    font-family: $font-main;
    cursor: pointer;
    transition: $dur $ease;

    @include mq(md){
       font-size: 15px;
       width: 50%;
       margin-bottom: 13px;
       text-align: center;
    }
    @include mq(sm){
       font-size: 13px;
    }

    &:hover{
        color: $brown;
        transition: $dur $ease;
    }
}
.footer__cont-wrap{
    
    
}
.footer__cont-content{

}
.footer__cont-content-title{
    color: $white;
    font-size: 24px;
    font-weight: 400;
    font-family: $font-second;
    display: block;
    margin-bottom: 65px;
    border-bottom: 1px solid $brown;
    padding-bottom: 22px;

    @include mq(xl){
        margin-bottom: 30px;
    }
    @include mq(md){
       padding-bottom: 10px;
       margin-bottom: 15px;
       text-align: center;
    }
}
.footer__cont-content-box{
    :nth-child(1){
        &::before{
            content: '\f3c5';
        }
    }
    :nth-child(2){
        &::before{
            content: '\f2a0';
        }
    }
    :nth-child(3){
        &::before{
            content: '\f0e0';
        }
    }
}
.footer__cont-content-box-text{
    display: block;
    color: $silver-light;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    font-family: $font-main;
    position: relative;
    padding-left: 50px;

    @include mq(md){
       font-size: 14px;
       margin-bottom: 10px;
    }

    &::before{
        
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        font-family: $font-icon;
        color: $brown;
    }
}
.footer__cont-content-box-social{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-left: 20px;

    @include mq(md){
        margin: auto;
        margin-top: 14px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    :nth-child(1){
        &:before{
            content: '\f39e';
        }
    }
    :nth-child(2){
        &:before{
            content: '\f099';
        }
    }
    :nth-child(3){
        &:before{
            content: '\f0e1';
        }
    }
    :nth-child(4){
        &:before{
            content: '\f16d';
        }
    }
}
.footer__cont-content-social{
    width: 40px;
    border: 1.8px solid $white;
    border-radius: 50%;
    height: 40px;
    position: relative;
    color: $white;
    transition: $dur $ease;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include mq(500px){
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }
    &:hover{
        color: $brown;
        transition: $dur $ease;
        border-color: $brown;
    }

    &::before{
        position: absolute;
        font-size: 20px;
        font-family: $font-icon;

        @include mq(500px){
            font-size: 15px;
        }
    }
}
.footer__copyright{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-top: 1px solid $brown;
}
.footer__copyright-text{
    color: $white;
    font-size: 17px;
    font-weight: 400;
    font-family: $font-third;

    @include mq(md){
        font-size: 14px;
    }
    @include mq(sm){
        font-size: 13px;
    }

    span{
        color: $brown;
    }
}
