/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.header-info{
    background-color: #191c23;
}
.header-info__contact-wrapp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    @include mq(420px){
        display: block;
    }
}
.header-info__contact{
    display: flex;

    @include mq(md){
       display: block;
       text-align: center; 
    }
}
.header-info__contact-mail{
    display: inline-block;
    color: white;
    font-size: 18px;
    line-height: 20px;
    font-family: $font-main;
    letter-spacing: 0.5px;
    padding-left: 25px;
    position: relative;
    margin-right: 15px;
    transition: $dur $ease;
    cursor: pointer;

    @include mq(md){
        font-size: 16px;
        margin-right: 0;
    }

    &:hover{
        color: #c29965;
        transition: $dur $ease;

        &::before{
            color: #c29965;
            transition: $dur $ease;
        }
    }
    
    &::before{
        content: '\f0e0';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        font-family: $font-icon;
        transition: $dur $ease;
    }
}
.header-info__contact-num{
    display: inline-block;
    color: white;
    font-size: 18px;
    font-family: $font-main;
    line-height: 20px;
    letter-spacing: 0.5px;
    padding-left: 25px;
    position: relative;
    cursor: pointer;
    
    @include mq(md){
        font-size: 16px;
    }

    &:hover{
        color: #c29965;
        transition: $dur $ease;

        &::before{
            color: #c29965;   
            transition: $dur $ease;
        }
    }

    &::before{
        content: '\f2a0';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        font-family: $font-icon;
    }
}
.header-info__social-wrap{
    padding-left: 15px;
    
    @include mq(md){
        display: flex;   
    }
    @include mq(450px){
        padding-left: 0;
        justify-content: center;
    }
}
.header-info__social{
    padding-left: 15px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    transition: $dur $ease;

    @include mq(400px){
        padding-left: 12px;
    }

    &:hover{
        color: #c29965;
        transition: $dur $ease;
    }
    i{
        font-size: 18px;
        font-weight: 600;

        @include mq(400px){
            font-size: 17px;
        }
    }
}



