/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
.header-nav{
    height: 134px;
    width: 100%;
    position: relative;
    margin: 20px 0;

    @include mq(lg){
        height: 0;
        margin: 0;
    }
}
.nav__wrapp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  
    @include mq(lg){
        display: block;
        width: 0;
        position: absolute;
        background-color: $blue;
        top: 0;
        right: 0;
        padding: 50px 0px 20px 0px;
        z-index: 1;
        height: 100vh;
        transition: $dur $ease;

        &:hover{
            .nav__list-item-link{
                &:hover{
                    background-color: $blue;
                    color: $brown;
                    border: 2px solid $brown;
                    transition: $dur $ease;

                    &::before{
                        width: 0;
                    }
                }
            }
        }
    }
}
.nav__wrapp--active{
    width: 250px;
    padding: 50px 20px 20px 20px;
    transition: $dur $ease;
}
.nav__logo{
    @include mq(lg){
        margin-bottom: 10px;
    }
}
.nav__logo-img{
    @include mq(lg){
        width: 210px;
        display: none;
    }
}
.nav__logo-img--active{
    display: block;
}
.nav{
    @include mq(lg){
       margin-bottom: 20px; 
    }
}
.nav__list{
    display: flex;
    @include mq(lg){
        display: block;
        width: 100%;
    }
}
.nav__list-item{
    padding-left: 20px;

    @include mq(lg){
        padding: 10px 0;
    }
}
.nav__list-item:first-of-type{
    padding-left: 0px;

    @include mq(lg){
        padding: 10px 0;
    }
}
.nav__list-item-link{
    font-size: 19px;
    font-weight: 600;
    color:$blue;
    letter-spacing: 0.5px;
    font-family: $font-main;
    padding: 20px 15px;
    transition: $dur $ease;
    position: relative;
    text-transform: uppercase;

    @include mq(xl){
        font-size: 17px;
        padding: 10px 5px;
    }
    @include mq(lg){
        background-color: $brown;
        width: 160px;
        display: none;
        margin: auto;
        font-size: 17px;
        transition: $dur $ease;
        border: 2px solid $blue;
        padding: 5px 10px;
    }

    &:hover{
        background-color: $brown;
        transition: $dur $ease;

        &::before{
            width: 100%;
            transition: $dur $ease;
            opacity: 1;
        }
    }
    &::before{
        content: '';
        position: absolute;
        height: 2.5px;
        width: 1%;
        left:0;
        bottom: 0;
        background-color: $blue;
        opacity: 0;
    }
}
.nav__list-item-link--active{
    display: block;
}

.nav__request-wrap{
    display: flex; 
    background-color: $blue;
    border: 4px solid $brown;
    border-radius: 3px;
    transition: $dur $ease;

    @include mq(xl){
        width: 190px;
    }
    @include mq(lg){
        width: 140px;
        margin: auto;
        display: none;
    }

    &:hover{
        background-color: $brown;
        border: 4px solid $blue;
        transition: $dur $ease;
        
        .nav__request{
            color: $blue;
            transition: $dur $ease;
        }
    }
}
.nav__request-wrap--active{
    display: block;
}
.nav__request{
    color: $brown;
    font-size: 17px;  
    font-family:$font-fourd;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: $dur $ease;

    @include mq(lg){
        color: $brown;
        font-size: 13px;
        padding: 10px;
    }
}