.hamburger{
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: $brown;
    position: absolute;
    right: 40px;
    border: 5px solid $brown;
    z-index: 2;

    @include mq(lg){
        display: block;
    }
    &::before,
    &::after{
        content: '';
    }

    &::before,
    &::after,
    span{
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: $blue;
        transition: $dur $ease;
    }
    &::before{
        top: 5px;
        left: 0;
    }
    &::after{
        bottom: 5px;
        right: 0;
    }
    span{
        display: block;
        top: 50%;
        margin-top: -1px;

        &::before{
            position: absolute;
            content: '';
            background-color: $blue;
            width: 100%;
            height: 3px;
            transition: $dur $ease;
        }
    }
}

.hamburger--active{
    &::before,
    &::after{
        width: 0;
        transition: $dur $ease;
    }
    span{
        transform: rotate(45deg);
        transition: $dur $ease;

        &::before{
            transform: rotate(-90deg);
            transition: $dur $ease;
        }
    }
}