.accordion{
    background-image: url('../img/accordion-bg.jpg');
    background-position: center center;
    background-size: cover;
    height: 1100px;
    padding: 125px 0;

    @include mq(xl){
        height: 1000px;
    }
    @include mq(lg){
        padding: 70px 0;
        height: 900px;
    }
    @include mq(md){
        height: 950px;
        padding: 70px 0 20px 0;
    }
}
.accordion__pretitle{
    text-align: center;

    @include mq(lg){
        font-size: 13px;
    }
}
.accordion__title{
    text-align: center;
    margin-bottom: 253px;

    @include mq(lg){
        margin-bottom: 150px;
    }
    @include mq(md){
        margin-bottom: 80px;
    }
}
.accordion__wraper{
    background-color: white;
    display: flex;
    height: 586px;

    @include mq(xl){
        display: block;
        height: 500px;
    }
    @include mq(md){
        background-color: transparent;
        height: 680px;
    }
}
.accordion__wraper-img{
    margin-top: -124px;
    margin-left: 154px;
    width: 470px;
    max-width: 100%;

    @include mq(xl){
        margin-left: 50px;
        width: 400px;
        height: 500px;
        top: -80px;
        position: relative;
        z-index: 1;
    }
    @include mq(lg){
        margin: auto;
        height: 350px;
    }
    @include mq(md){
        top: 0;
        height: 250px;
        margin-bottom: 20px;
    }
}
.accordion__img{
    height: 610px;
    object-fit: cover;
    width: 100%;
    @include mq(xl){
        height: 100%;
        object-fit: cover;
    }
}
.accordion__box{
    padding: 40px 60px;

    @include mq(xl){
        position: relative;
        top: -400px;
        width: 580px;
        margin-left: auto;
        padding: 20px 40px;
        background-color: $white;
        z-index: 2;
    }
    @include mq(lg){
        top: -200px;
        margin: auto;
    }
    @include mq(md){
        top: 0;
        width: 100%;
    }
    @include mq(sm){
        padding: 20px 5px;
    }
}
.accordion__box-title{
    margin-bottom: 40px;
    color: #343a40;
    font-family: $font-third;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 25px;

    @include mq(1221px){
        font-size: 22px;
        letter-spacing: -1px;
    }
    @include mq (xl){
        text-align: right;
        margin-bottom: 15px;
    }
    @include mq(lg){
        text-align: center;
        font-size: 20px;
    }
    span{
        color: $brown;
    }
}
.accordion__box-inner-wrap{
   max-width: 531px;
   width: 100%;
}
.accordion__box-inner{
    border: 1px solid black;
    border-bottom: none;
    &:nth-child(4){
        border-bottom: 1px solid black;
    }
}
.accordion__box-head{
    cursor: pointer;
    position: relative;
    max-width: 531px;
    width: 100%;

    @include mq(xl){
        width: 500px;
    }
    @include mq(md){
        width: 100%;
    }

    &:hover{
        background-color: $blue;
        transition: $dur $ease;
        .accordion__box-head-title{
            color: $brown;
            transition: $dur $ease;
        }
        .accordion__box-head-arrow{
            &::before{
                color: $brown;
                transition: $dur $ease;
            }
        }
    }
}
.accordion__box-head.active{
    .accordion__box-head-arrow{
        transform:translateY(-50%) rotate(180deg);
        transition: $dur $ease;
    }
}
.accordion__box-head-title{
    font-size: 20px;
    font-weight: 600;
    font-family: $font-main;
    color: #343a40;
    display: block;
    padding: 10px 50px 10px 20px;
    transition: $dur $ease;

    @include mq(lg){
        font-size: 18px;
    }
    @include mq(md){
        font-size: 16px;
    }
}
.accordion__box-head-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    transition: $dur $ease;

    &::before{
        content: '\f062';
        font-family: $font-icon;
        font-size: 20px;
        color: #343a40;
        transition: $dur $ease;
    }
}
.accordion__box-body{
    padding: 25px 20px;
    border-top: 1px solid black;
    display: none;
    max-width: 531px;
    width: 100%;

    @include mq(xl){
        width: 500px;
    }
    @include mq(lg){
        padding: 15px;
    }
    @include mq(md){
        width: 100%;
        padding: 10px;
    }
}
.accordion__box-body-text{
    font-size: 16px;
    line-height: 2;
    font-family: $font-main;
    color: #686565;
    margin-bottom: 2px;

    @include mq(lg){
        font-size: 14px;
        line-height: 1.8;
    }
    @include mq(md){
        line-height: 1.4;
        font-size: 13px;
    }
    br{
        @include mq(1320px){
            display: none;
        }
    }
}

