.apply{
    background-color:$brown;
    padding-top: 115px;
    padding-bottom: 90px;

    @include mq(lg){
        padding-top: 70px;
        padding-bottom: 70px;
    }
    @include mq(md){
        padding-top: 35px;
        padding-bottom: 35px;
    }
}
.apply__address-wrap{

}
.apply__address-box{

}
.apply__title{
    text-align: center;
    margin-bottom: 100px;
    color: $blue;
    font-family: $font-third;

    @include mq(lg){
        margin-bottom: 35px;
    }
    @include mq(md){
        font-size: 28px;
    }
    @include mq(sm){
        font-size: 25px;
    }
}
.apply__wrap{
    padding-top: 40px;

    @include mq(lg){
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $brown;
    }
    @include mq(sm){
        display: block;
        margin: 0 20px;
    }
}
.apply__address-item{
    margin-bottom: 15px;

    @include mq(sm){
        width: 100%;
        margin: auto;
        text-align: center;
    }
}
.apply__address-item-text{
    font-size: 17px;
    margin-bottom: 25px;
    font-family: $font-fourd;
    color: $blue;

    @include mq(lg){
        font-size: 15px;
    }
    @include mq(700px){
        font-family: $font-sixth;
        
    }
    br{
        @include mq(xl){
            display: none;
        }
    }
}
.apply__contact-wrap{
    @include mq(lg){
        margin-top: 25px;
        order: 2;   
    }
}
.apply__contact-box{
    input{
        padding: 8px 5px 8px 15px;
        margin-bottom: 20px;
        border: 1.8px solid $white;
        border-radius: 3px;
        font-size: 15px;
        font-family: $font-main;
        color: $brown;
        background-color: $blue;
        font-weight: 600;

        &:focus{
            background-color: $blue;
            color: $brown;
        }
        @include mq(sm){
            margin-bottom: 10px;
            font-size: 13px;
            font-weight: 300;
        }

        &::placeholder{
            font-style: italic;
            color: $brown;
            font-weight: 300;
            border-radius: 2px;

            @include mq(sm){
                font-size: 13px;
            }
        }
    }
    textarea{
        padding: 8px 5px 8px 15px;
        border: 1.8px solid $white;
        border-radius: 3px;
        font-size: 15px;
        font-family: $font-main;
        color: $brown;
        background-color: $blue;
        font-weight: 500;
        height: 200px;

        @include mq(sm){
            font-size: 13px;
            font-weight: 300;
        }
        &::placeholder{
            font-style: italic;
            color: $brown;
            font-weight: 300;

            @include mq(sm){
                font-size: 13px;
            }
        }
    }
}
.apply__contact-box-title{
    font-size: 16px;
    font-weight: 600;
    font-family: $font-main;
    color: $blue;
    width: 47%;

    &:nth-of-type(even){
        padding-left: 35px;
    }
    &:nth-of-type(6){
        padding-left: 0;
    }

    @include mq(sm){
        font-size: 15px;
        font-weight: 300;
    }
}
.apply__contact-box-name{
    .apply__contact-box-first-name{
        width: 47%;
        margin-right: 5%;

        @include mq(sm){
            margin-right: 3%;
        }
    }
    .apply__contact-box-last-name{
        width: 47%;
    }
}
.apply__contact-box-email{
    .apply__contact-box-address{
        width: 47%;
        margin-right: 5%;

        @include mq(sm){
            margin-right: 3%;
        }
    }
    .apply__contact-box-confirm{
        width: 47%;
    }
}
.apply__contact-box-subject{
    .apply__contact-box-subject-subject{
        width: 100%;
    }
}
.apply__contact-box-message{
    margin-bottom: 35px;

    @include mq(sm){
        margin-bottom: 20px;
    }
    .apply__box-message-message{
        width: 100%;
    }
}
.apply__contact-box-log{
    padding: 15px 15px;
    background: $blue;
    border-radius: 3px;
    transition: $dur $ease;
    cursor: pointer;
    border: 1.8px solid $white;
    font-weight: 600;

    @include mq(sm){
        padding: 10px 10px;
        border-radius: 2px;
        font-weight: 300;
    }

    &:hover{
        
        background-color: $brown;
        transition: $dur $ease;
        border: 1.8px solid $blue;
        
        span{
            color: $blue;
            transition: $dur $ease;
        }
    }
    span{
        color: $brown;
        font-family: $font-main;
        font-size: 15px;
        font-weight: 600;
        transition: $dur $ease;

        @include mq(sm){
            font-size: 14px;
            font-weight: 300;
        }
    }
}