.banner{
    background-image: url('../img/banner-2.jpg');
    background-position: center center;
    background-size: cover;
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: right;

    @include mq(xl){
        height: 700px;
    }
    @include mq(lg){
        height: 600px;
    }
    @include mq(md){
        height: 500px;
    }
    @include mq(550px){
        height: 400px;
        justify-content: center;
        text-align: center;
    }
}
.banner__container{
    padding-top: 100px;
    @include mq(xl){
        padding-top: 0;
    }
}
.banner__slider{
    margin-bottom: 65px;
    @include mq(lg){
        margin-bottom: 30px;
    }
    @include mq(550px){
        margin-bottom: 0;
        background-color: rgba(250,250,255,0.5);
    }
}
.banner__slide{

}
.banner__slide-pretitle{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    color: $white;
    font-family: $font-main;
    margin-bottom: 60px;
    display: block;
    position: relative;

    @include mq(lg){
        margin-bottom: 30px;
    }
    @include mq(md){
        font-size: 14px;
    }
    @include mq(550px){
        display: none;
    }

    &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -35px;
        width: 84px;
        height: 2px;
        background-color:$brown;

        @include mq(lg){
            width: 50px;
            bottom: -20px;
            height: 1px;
        }
    }
}
.banner__slide-title{

    @include mq(lg){
        font-size: 40px;
        line-height: 50px;
    }
    @include mq(md){
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 15px;
    }
    @include mq(700px){
        font-family: $font-fifth;
    }
    @include mq(550px){
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 10px;
        color: $blue;
    }
    
    span{
        color:$brown;
        @include mq(550px){
            color: #896313;
        }
    }
}
.banner__slide-text{
    font-size: 17px;
    font-weight: 500;
    color: $white;
    font-family: $font-main;
    line-height: 30px;

    @include mq(lg){
        font-size: 15px;
    }
    @include mq(md){
        font-size: 14px;
        line-height: 23px;
    }
    @include mq(550px){
        font-size: 12px;
        line-height: 20px;
        color: #896313;
    }
}
.banner__slider-arrows{
    display: flex;
    @include mq(550px){
        justify-content: center;
        align-items: center;
    }
}
.banner__slider-arrow-left{
    position: relative;
    width: 40px;
    height: 40px;
    color: $white;
    display: block;
    margin-right: 70px;
    cursor: pointer;
    transition: $dur $ease;
    @include mq(md){
        width: 25px;
        height: 25px;
    }
    @include mq(550px){
       margin-right: 20px;
    }

    &:hover{
        color:$brown;
        transition: $dur $ease;
    }

    &::before{
        content: '\f30a';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: $font-icon;
        font-size: 40px;
        font-weight: 100;
        @include mq(md){
            font-size: 25px;
        }
    }
}
.banner__slider-arrow-right{
    position: relative;
    width: 40px;
    height: 40px;
    color: $white;
    display: block;
    cursor: pointer;
    transition: $dur $ease;
    @include mq(md){
        width: 25px;
        height: 25px;
    }

    &:hover{
        color:$brown;
        transition: $dur $ease;
    }
    
    &::before{
        content: '\f30b';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: $font-icon;
        font-size: 40px;
        font-weight:100;
        @include mq(md){
            font-size: 25px;
        }
    }
}