.box__text{
    background-image: url('../img/ratings.jpg');
    background-position: center center;
    background-size: cover;
    height:450px;
    padding: 106px 0;

    @include mq(xl){
        height: 960px;
        padding-top: 45px;
        padding-bottom: 45px;
    }
    @include mq(507px){
        height:750px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    /*.section-title{
        &::after{
            display: none;
        }
    }
    .section-pretitle{
        &::after{
            width: 30px;    
            height: 1px;
            top: 50%;
            left: 40%;
            @include mq(sm){
                left: 50%;
                top: -20%;
            }
        }
    }*/
}

.box-text__title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 39px;
    font-family: $font-fourd;
    color: $white;
    @include mq(1325px){
        margin-bottom: 25px;
    }
    @include mq(lg){
        font-size: 30px;
    }
}

.box-text__pretitle {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 39px;
    font-family: $font-fourd;
    color: $white;
    display: block;
    @include mq(1325px){
        margin-bottom: 25px;
    }
    @include mq(lg){
        font-size: 15px;
    }
}

.box-text__text-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 39px;
    font-family: $font-fourd;
    color: $white;
    display: block;
    @include mq(1325px){
        margin-bottom: 25px;
    }
    @include mq(lg){
        font-size: 15px;
    }
}

.box-text__text-text {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 39px;
    font-family: $font-fourd;
    color: $white;
    @include mq(1325px){
        margin-bottom: 25px;
    }
    @include mq(lg){
        font-size: 15px;
    }
}

.box-text__text-name {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 39px;
    font-family: $font-fourd;
    color: $white;
    @include mq(1325px){
        margin-bottom: 25px;
    }
    @include mq(lg){
        font-size: 15px;
    }
}

.box__title {
    margin-bottom: 90px;
    text-align:center;
    @include mq(lg){
        margin-bottom: 70px;
    }
    @include mq(sm){
		margin-bottom: 50px;
	}
}

.box__pretitle {
    @include mq(lg){
        font-size: 13px;
    }
}

.box__link {
    padding: 0 25px;
}

.box__text-link{
    font-size: 17px;
    font-weight: 600;
    font-family: $font-third;
    color: $white;
    margin-bottom: 10px;
    display: block;
    padding-bottom: 40px;
}

.box__link-link {
    font-size: 25px;
    font-weight: 500;
    font-family: $font-third;   
    color: $brown;
    margin-bottom: 2px;
    display: block;
    text-decoration: underline;

    &:hover{
        text-decoration: underline $brown;
        color:$brown;
    }

    &:focus {
        color: $brown;
    }
}