.experience{
   background-color:#eaeaea;
   padding: 100px 0;
   @include mq(lg){
       padding: 65px 0;
   }
}
.experience__pretitle{
    text-align: center;
    color: $blue;
    display: block;

    @include mq(lg){
        font-size: 13px;
    }
}
.experience__title{
    text-align: center;
    color: $blue;
    margin-bottom: 100px;

    @include mq(lg){
        margin-bottom: 50px;
    }
}
.experience__row{

}
.experience__box-wrap{
    @include mq(lg){
        text-align: center;
        margin-bottom: 20px;
    }
}
.experience__box-pretitle{
    color: #5b5b5b;
    font-size: 29px;
    font-weight: 400;
    font-family: $font-second;
    letter-spacing: 2px;

    @include mq(lg){
        font-size: 17px;
        margin-bottom: 15px;
    }
}
.experience__box-title{
    color: #5b5b5b;
    font-size: 32px;
    font-weight: 600;
    font-family: $font-third;

    @include mq(xl){
        font-size: 40px;
    }
    @include mq(lg){
        font-size: 25px;
    }

    span{
        color: $brown;
    }
}
.experience__box-text{
    font-size: 17px;
    color: #5b5b5b;
    font-weight: 300;
    line-height: 2;
    font-family: $font-main;
    letter-spacing: .1px;

    br{
        @include mq(xl){
            display: none;
        }
    }

    @include mq(1263px){
        font-size: 16px;
    }
    @include mq(lg){
        font-size: 15px;
    }
    @include mq(md){
        font-size: 14px;
    }
    @include mq(sm){
        font-size: 12px;
    }
    
}
.experience__box-item-wrap{
    background-image: url('../img/experience.jpg');
    background-position: center center;
    background-size: cover;
    height: 450px;
    overflow-y: scroll;
    padding: 40px 0;
    @include mq(md){
        height: 350px;
    }

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: silver;
    }
    &::-webkit-scrollbar-thumb {
        height: 58%;
        background-color: $brown;
        border-radius: 15px;
    }
}
.experience__box-item-title{
    padding-left: 50px;
    font-size: 26px;
    color: $brown;
    margin-bottom: 40px;
    font-family: $font-third;
    text-transform: uppercase;
    @include mq(xl){
        font-size: 32px;
    }
    @include mq(lg){
        font-size: 25px;
    }
    @include mq(md){
        padding-left: 0;
        text-align: center;
        margin-bottom: 20px;
    }
}
.experience__box-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    margin-bottom: 10px;
    @include mq(xl){
        padding: 0 15px;
    }
    @include mq(md){
        display: block;
    }
    @include mq(sm){
        padding: 0 20px;
    }
}
.experience__box-item-img{
    margin-right: 30px;
    @include mq(xl){
       margin-right: 15px;
    }
    @include mq(md){
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }
}
.experience__box-img{
    @include mq(md){
        width: 55px;
    }
}
.experience__box-item-inner{
    @include mq(md){
        text-align: center;
    }
}
.experience__box-item-inner-title{
    color:$white;
    font-size: 20px;
    font-family: $font-main;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
    @include mq(xl){
        font-size: 21.5px;
    }
    @include mq(lg){
        font-size: 20px;
    }
    @include mq(md){
        font-size: 18px;
    }
}
.experience__box-item-inner-text{
    color: $white;
    font-family: $font-main;
    font-size: 14px;
    font-weight: 300;
    @include mq(xl){
        font-size: 15px;
        letter-spacing: -.1px;
    }
    @include mq(lg){
        font-size: 14px;
    }
}