.intro-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-section__bg-img{

}
.intro-section__overlay{
    background-color:#1d2027 ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .97;
}
.intro-section__img{
    width: 100%;
    max-width: 100%;
    height: 1200px;
    @include mq(xl){
        height: 1000px;
    }
    @include mq(sm){
        height: 900px;
    }
}
.intro-section__wraper{
    position: absolute;
    top: -65px;
    @include mq(md){
        top: 110px;
    }
}
.intro-section__box{
    margin-bottom: 140px;
    @include mq(lg){
        margin-bottom: 80px;
    }
    @include mq(md){
        display: none;
    }
}
.intro-section__row{
    &:nth-child(4){
        border-right: none;
    }
}
.intro-section__box-item-wrap{
    padding: 0px;
    border-right: 1px solid #303339;

    &:nth-of-type(4){
        border-right: none;
    }
}
.intro-section__box-item{
    padding: 28px 10px 28px 0;
    background-color: #191c23;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(xl){
        padding: 15px 5px 5px 5px;
        display: block;
    }
    
}
.intro-section__box-item-icon{
    max-width: 80px;
    width: 100%;
    text-align: center;

    @include mq(xl){
        margin: auto;
        margin-bottom: 15px;
    }
    
    i{
        color: $brown;
        font-family: $font-icon;
        font-size: 50px;
        
    }
}
.intro-section__box-item-para{
    max-width: 320px;
    width: 100%;

    @include mq(xl){
        text-align: center;
    }
}
.intro-section__box-para-title{
    font-size: 25px;
    text-transform: uppercase;
    font-family: $font-main;
    font-weight: 500;
    color: $white;
    letter-spacing: 0.5px;
    margin-bottom: 20px;

   @include mq(lg){
       font-size: 20px;
   } 
}
.intro-section__box-para-text{
    font-size: 16px;
    font-family: $font-main;
    font-weight: 500;
    color: $white;
    letter-spacing: 0.5px;
    
    @include mq(1240px){
        height: 72px;
    }
    @include mq (lg){
        font-size: 14px;
    }
}
.intro-section__content{

}
.intro-section__content-pretitle{
    display: block;
    text-align: center;
    @include mq(lg){
        font-size: 13px;
    }
}
.intro-section__content-title{
    text-align: center;
    margin-bottom: 140px;
    @include mq(lg){
        margin-bottom: 80px;
    }
}
.intro-section__content-wrap{
    display: flex;
    @include mq(lg){
        display: block;
    }
}
.intro-section__content-inner-img{
    margin-top: -60px;
    @include mq(xl){
        width: 30%;    
    }
    @include mq(lg){
        height: 250px;
        margin-left: auto;
        margin-top: 0;
        width: 100%;
    }
}
.intro-section__content-img{
    @include mq(xl){
        width: 100%;
    }
    @include mq(lg){
        height: 100%;
        object-fit: cover;
    }
}
.intro-section__content-inner-text{
    background-color: white;
    padding: 70px 50px;
    @include mq(1340px){
        padding: 70px 35px;
    }
    @include mq(xl){
        padding: 45px 15px;
        width: 70%;
    }
    @include mq(lg){
        padding: 15px 15px;
        width: 100%;
    }
}
.intro-section__content-text-title{
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #343a40;
    font-family: $font-second;
    letter-spacing: -0.5px;
    text-align: center;
    
    @include mq(1340px){
        font-size: 28px;
    }
    @include mq(xl){
        letter-spacing: -1px;
        margin-bottom: 15px;
    }
    @include mq(lg){
        margin-bottom: 8px;
    }
    @include mq(sm){
        font-size: 20px;
    }
    span{
        color: $brown;
    }
}
.intro-section__content-text-para{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7;
    color: #868e96;
    font-family: $font-third;
    margin-bottom: 30px;
    @include mq(1340px){
        font-size: 15px;
    }
    @include mq(xl){
        margin-bottom: 10px;
        letter-spacing: -0.7px;
    }
    @include mq(lg){
        line-height: 1.5;
        margin-bottom: 5px;
    }
    @include mq(sm){
        font-size: 13px;
    }
}
.intro-section__content-text-num{
    color: #000;
    font-family: $font-third;
    font-size: 15px;
    font-weight: 700;
    display: block;
    @include mq(xl){
        font-size: 14px;
    }
    @include mq(sm){
        font-size: 12px;
    }
}
.intro-section__content-text-signature{
    color: $brown;
    font-family:$font-fourd;
    font-size: 40px;
    font-weight: 400;
    display: block;
    @include mq(xl){
        font-size: 30px;
    }
    @include mq(lg){
        font-size: 25px;
    }
    @include mq(sm){
        font-size: 20px;
    }
    @include mq(700px){
        font-family: $font-fifth;
    }
}
.intro-section__content-text-name{
    font-family: $font-second;
    font-weight: 700;
    color: #000;
    font-size: 24px;
    display: block;
    @include mq(xl){
        font-size: 20px;
    }
    @include mq(lg){
        font-size: 18px;
    }
    @include mq(sm){
        font-size: 15px;
    }
}











