.quest{
    background-color:$white;
    padding-top: 115px;
    padding-bottom: 90px;

    @include mq(lg){
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
.quest__pretitle{

}
.quest__title{
    text-align: center;
    margin-bottom: 100px;
    color: $blue;

    &::after{
        top: 110px;
        @include mq(sm){
            top: 87px;
        }
    }

    @include mq(lg){
        margin-bottom: 35px;
    }
}
.quest__wrap{
    padding-top: 40px;

    @include mq(lg){
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $brown;
    }
    @include mq(sm){
        display: block;
        margin: 0 20px;
    }
}
.quest__box-up-item{
    margin-bottom: 15px;

    @include mq(lg){
        width: 48%;
        margin-right: 2%;
    }
    @include mq(sm){
        width: 100%;
        margin: auto;
        text-align: center;
    }
}
.quest__box-up-item-title{
    font-size: 25px;
    margin-bottom: 18px;
    display: block;
    font-family: $font-main;
    font-weight: 600;
    color: $blue;

    @include mq(lg){
        font-size: 20px;
        margin-bottom: 20px;
    }
}
.quest__box-up-item-text{
    font-size: 17px;
    margin-bottom: 25px;
    font-family: $font-third;
    color: $blue-light;

    @include mq(lg){
        font-size: 15px;
    }

    br{
        @include mq(xl){
            display: none;
        }
    }
}
.quest__box-up-item-time{
   display: block;
   font-size: 17px;    
   font-family: $font-main;
   color: $blue-light;
   line-height: 2;

    @include mq(lg){
        font-size: 16px;
    }
}
/*.quest__box-up-item-close{
    display: block;
    font-size: 17px;
    font-weight: 700;
    line-height: 2;
    font-family: $font-main;
    width: 100%;
    border-bottom: 1px solid $brown;
    padding-bottom: 15px;

    @include mq(lg){
        font-size: 16px;
        border: none;
    }
}*/
.quest__box-down-item{
    margin-top: 25px;

    @include mq(lg){
        width: 48%;
        margin-top: 0;
        margin-left: 2%;
    }
    @include mq(sm){
       width: 100%;
       text-align: center;
    }
}
.quest__box-down-item-title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: $font-third;
    color: $blue;
}
.quest__box-down-item-cont{
    display: block;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: $font-third;
    color: $blue-light;
    font-weight: 300;

    @include mq(lg){
        font-size: 15px;
    }
}
.quest__contact-wrap{
    @include mq(lg){
        margin-top: 25px;   
    }
}
.quest__contact-box{
    input{
        padding: 8px 5px 8px 15px;
        margin-bottom: 20px;
        border: 1px solid silver;
        border-radius: 3px;
        font-size: 15px;
        font-family: $font-main;
        color: $brown;
        background-color: $blue;
        font-weight: 500;

        @include mq(sm){
            margin-bottom: 10px;
            font-size: 13px;
            font-weight: 300;
        }

        &::placeholder{
            font-style: italic;
            color: $white;
            font-weight: 300;
            border-radius: 2px;

            @include mq(sm){
                font-size: 13px;
            }
        }
    }
    textarea{
        padding: 8px 5px 8px 15px;
        border: 1px solid silver;
        border-radius: 3px;
        font-size: 15px;
        font-family: $font-main;
        color: $brown;
        background-color: $blue;
        font-weight: 500;

        @include mq(sm){
            font-size: 13px;
            font-weight: 300;
        }

        &::placeholder{
            font-style: italic;
            color: $white;
            font-weight: 300;

            @include mq(sm){
                font-size: 13px;
            }
        }
    }
}
.quest__contact-box-title{
    font-size: 16px;
    font-weight: 600;
    font-family: $font-main;
    color: $blue;
    width: 47%;

    &:nth-of-type(even){
        padding-left: 35px;
    }
    &:nth-of-type(6){
        padding-left: 0;
    }

    @include mq(sm){
        font-size: 15px;
        font-weight: 300;
    }
}
.quest__contact-box-name{
    .quest__contact-box-first-name{
        width: 47%;
        margin-right: 5%;

        @include mq(sm){
            margin-right: 3%;
        }
    }
    .quest__contact-box-last-name{
        width: 47%;
    }
}
.quest__contact-box-email{
    .quest__contact-box-address{
        width: 47%;
        margin-right: 5%;

        @include mq(sm){
            margin-right: 3%;
        }
    }
    .quest__contact-box-confirm{
        width: 47%;
    }
}
.quest__contact-box-subject{
    .quest__contact-box-subject-subject{
        width: 100%;
    }
}
.quest__contact-box-message{
    margin-bottom: 35px;

    @include mq(sm){
        margin-bottom: 20px;
    }
    .quest__box-message-message{
        width: 100%;
    }
}
.quest__contact-box-log{
    padding: 15px 15px;
    background: $blue;
    border-radius: 3px;
    transition: $dur $ease;
    cursor: pointer;
    border: 3px solid $brown;
    font-weight: 600;

    @include mq(sm){
        padding: 10px 10px;
        border-radius: 2px;
        font-weight: 300;
    }

    &:hover{
        
        background-color: $brown;
        transition: $dur $ease;
        border: 3px solid $blue;
        
        span{
            color: $blue;
            transition: $dur $ease;
        }
    }
    span{
        color: $white;
        font-family: $font-main;
        font-size: 15px;
        font-weight: 600;
        transition: $dur $ease;

        @include mq(sm){
            font-size: 14px;
            font-weight: 300;
        }
    }
}