.ratings{
    background-image: url('../img/ratings.jpg');
    background-position: center center;
    background-size: cover;
    height:736px;
    padding: 106px 0;

    @include mq(xl){
        height: 580px;
        padding-top: 45px;
        padding-bottom: 45px;
    }
    @include mq(507px){
        height:750px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .section-title{
        &::after{
            display: none;
        }
    }
    .section-pretitle{
        &::after{
            width: 30px;    
            height: 1px;
            top: 50%;
            left: 40%;
            @include mq(sm){
                left: 50%;
                top: -20%;
            }
        }
    }
}
.ratings__row{

}
.ratings__box-wrap{
    display: flex;
    flex-wrap: wrap;

    @include mq(md){
        justify-content: center;
    }
    @include mq(507px){
        display: block;
    }
}
.ratings__box{
    background-color: $brown;
    width: 47%;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
    padding: 24px 20px 72px 20px;
    position: relative;
    transition: $dur $ease;
    cursor: pointer;

    &:nth-child(even){
        margin-right: 0;
        @include mq(507px){
            margin: auto;
            margin-bottom: 15px;
        }
    }

    @include mq(xl){
        margin-right: 3%;
        margin-bottom: 3%;
        padding: 24px 20px 40px 20px;
    }
    @include mq(lg){
        width: 80%;
        padding: 15px 20px 15px 20px;
        margin-right: 0;
    }
    @include mq(md){
        margin-right: 3%;
        width: 40%;
    }
    @include mq(507px){
        margin: auto;
        width: 60%;
        margin-bottom: 15px;
        padding: 5px 20px 5px 20px;
    }

    &:hover{
        .ratings__box-num{
            color: $brown;
            transition: $dur $ease;
            &::after{
                background-color:$blue ;
            }
        }
        .ratings__box-text{
            color: $brown;
            transition: $dur $ease;
        }
        .ratings__overlay{
            width: 100%;
            transition: $dur $ease;
        }
    }
}
.ratings__box-num{
    display: block;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 39px;
    font-family: $font-third;
    color: $white;
    position: relative;
    z-index: 2;
    transition: $dur $ease;

    @include mq(xl){
        font-size: 30px;
        margin-bottom: 50px;
    }
    @include mq(lg){
        font-size: 24px;
        margin-bottom: 13px;
    }

    &::after{
        content: '';
        position: absolute;
        width: 40px;
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
        background-color: $white;

        @include mq(lg){
            bottom: -7px;
        }
    }
}
.ratings__box-text{
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: $white;
    font-family: $font-main;
    position: relative;
    z-index: 2;
    transition: $dur $ease;

    @include mq(xl){
       font-size: 18px;
    }
    @include mq(lg){
       font-size: 15px;
    }
    @include mq(507px){
        line-height: 1.2;
    }
}
.ratings__overlay{
    position: absolute;
    width:0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $white;
}
.ratings__content-wrap{
    display: flex;
    justify-content: right;
    align-items: center;
    @include mq(md){
        order: -1;
        margin-bottom: 30px;
    }
    @include mq(sm){
        justify-content: center;
        text-align: center;
    }
}
.ratings__content{
    padding-left: 120px;
    @include mq(1440px){
        padding-left: 60px;
    }
    @include mq(lg){
        padding-left: 0;
    }
}
.ratings__content-pretitle{
    @include mq(xl){
       font-size: 12px;
    }
}
.ratings__content-title{
    margin-bottom: 25px;
    color: $brown;

    @include mq(md){
        margin-bottom: 15px;
    }
}
.ratings__content-text{
    line-height: 2;
    margin-bottom: 55px;
    color: $white;
    font-family: $font-main;
    letter-spacing: .1px;
    font-size: 16px;

    br{
        @include mq(xl){
            display: none;
        }
    }

    @include mq(xl){
        letter-spacing: -.7px;
        font-size: 15px;
    }
    @include mq(md){
        line-height: 1.5;
        margin-bottom: 30px;
    }
}
.ratings__content-num{
    background-color:$brown;
    padding: 15px 31px;
    font-size: 23px;
    color:$white;
    transition: $dur $ease;

    @include mq(xl){
        font-size: 18px;
    }
    @include mq(lg){
        font-size: 17px;
        padding: 10px 16px;
    }
    @include mq(md){
        font-size: 15px;
    }
    &:hover{
        color: $black;
        background-color: $white;
        transition: $dur $ease;
    }
}