.work-section{
    background-color: $blue;
    padding: 140px 0;
    @include mq(lg){
        padding: 85px 0px;
    }
}
.work-section__content{
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #b89b5e;
}
.work-section__pretitle{
    @include mq(lg){
        font-size: 13px;
    }
}
.work-section__title{
    margin-bottom: 115px;
    @include mq(lg){
        margin-bottom: 70px;
    }
    @include mq(sm){
		margin-bottom: 50px;
	}
}
.work-section__text{
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 50px;
    @include mq(lg){
        font-size: 16px;
        padding-bottom: 20px;
    }
}
.work-section__row{
    padding-top: 65px;
    @include mq(lg){
        padding-top: 40px;
    }
}
.work-section__wrap-box{
    background-color: $white;
    padding: 0px;
    border-right: 1px solid $blue;
    transition: $dur $ease;
    cursor: pointer;
    position: relative;

    @include mq(xl){
        border-bottom: 1px solid $blue;
    }
    @include mq(sm){
        border-right: none;
    }

    &:hover{
        .work-section__box-icon{
            i{
               color: $blue; 
               transition: $dur $ease;
            }
        }
        .work-section__box-item-title{
            color: $white;
            transition: $dur $ease;

            &::before{
                background-color: $blue;
                transition: $dur $ease;
            }
        }
        .work-section__box-item-text{
            color: $white;
            transition: $dur $ease;
        }
        .work-section__overlay{
            width: 100%;
            transition: $dur $ease;
        }
    }
}
.work-section__box-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    @include mq(lg){
        padding: 15px 0px;
    }

    i{
        font-family: $font-icon;
        font-size: 40px;
        color: $brown;
        transition: $dur $ease;
        z-index: 2;
    }
}
.work-section__box-item{
    text-align: left;
    padding: 0px 10px 10px 18px;
    @include mq(xl){
        text-align: center;
    }
}
.work-section__box-item-title{
    font-weight: 200;
    font-family: $font-main;
    color: $black;
    margin-bottom: 20px;
    position: relative;
    transition: $dur $ease;
    z-index: 2;
    @include mq(lg){
        font-size: 20px;
    }

    &::before{
        content: '';
        position: absolute;
        width: 35px;
        height: 1px;
        background-color: #b89b5e;
        left: 0;
        bottom: -10px;
        transition: $dur $ease;
        @include mq(xl){
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
.work-section__box-item-text{
    font-size: 15px;
    line-height: 1.7;
    font-weight: 400;
    font-family: $font-main;
    color: $black;
    margin-bottom: 30px;
    transition: $dur $ease;
    z-index: 2;
    position: relative;
    @include mq(1252px){
        font-size: 14px;
    }
}
.work-section__overlay{
    position: absolute;
    height: 100%;
    background-color: $brown;
    width: 0;
    top: 0;
    left: 0;
    transition: $dur $ease;
    z-index: 1;
}
