/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a { text-decoration: none; color: #000; }
a:visited { }
a:hover { }
a:focus, a:hover, a:active { outline: none;text-decoration: none; color: black;}

/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/

nav ul,
nav ol,
ul,
li { list-style: none; list-style-image: none; margin: 0; padding: 0; }

