// Fonts

$font-main:'Open Sans', sans-serif;
$font-second:'Playfair Display', serif;
$font-third:'Lato', sans-serif;  
$font-fourd:'Sacramento', cursive;
$font-fifth: 'Kalam', cursive;
$font-sixth: 'Patrick Hand', cursive;

$font-icon:'FontAwesome';

// Colors
$white: #fff;
$black: #000;
$red: #e2401c;
$green: #4fc08d;
$blue: #191c23;
$brown:#b89b5e;
$silver-dark:#5b5b5b;
$silver-light:#9b9b9b;
$blue-light:#14264f;

// Transitions
$dur: 350ms;
$ease: ease;
