html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body{
	@include mq(lg){
		overflow-x: hidden;
	}
}
*,
*::before,
*::after {
	box-sizing: inherit;
	outline: none;
	padding: 0;
	margin: 0;
}

.container {
	@media screen and (min-width: 1200px) {
		max-width: 1325px;
	}
}

.container--alt{
	max-width: 1480px;
}

.header-nav__container {
	@media screen and (min-width: 1200px) {
		max-width: 95%;
	}
}

