.page-title {
	font-size: 50px;
    font-weight: 600;
    color: $white;
    letter-spacing: 0.5px;
    font-family: $font-fourd;
    line-height: 68px;
    margin-bottom: 25px;

    span{
        color:$brown;
    }
}

.section-title {
	color: $white;
	font-family: $font-third;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: .4px;
	position: relative;
	text-transform: uppercase;
	@include mq(lg){
		font-size: 32px;
	}
	@include mq(sm){
		font-size: 27px;
	}

	&::after{
		content: '';
		position:absolute;
		height:30px;
		width: 2px;
		background-color: #b89b5e;
		left: 50%;
		transform: translateX(-50%);
		top: 65px;

		@include mq(lg){
			height: 17px;
            top: 55px;
		}
		@include mq(385px){
			display: none;
		}
	}
}

.section-pretitle{
	font-size: 14px;
    font-weight: 300;
    color: white;
	text-transform: uppercase;
	position: relative;
	font-family: $font-third;
	display: block;
	
	&::after{
		content: '';
		position:absolute;
		height:30px;
		width: 2px;
		background-color: #b89b5e;
		left: 50%;
		transform: translateX(-50%);
		top: -45px;

		@include mq(lg){
			height: 17px;
            top: -45px;
		}
	}
}