// Media query:
@mixin mq ($breakpoint) {

    @if $breakpoint==sm {
        @media screen and (max-width: 576px) {
            @content
        };
    }

    @if $breakpoint==md {
        @media screen and (max-width: 768px) {
            @content
        };
    }

    @if $breakpoint==lg {
        @media screen and (max-width: 992px) {
            @content
        };
    }

    @if $breakpoint==xl {
        @media screen and (max-width: 1200px) {
            @content
        };
    }

    @else{
        @media screen and (max-width: $breakpoint) {
            @content
        };
    }
}